.main{
	padding:5px 30px 10px 30px;
}

.mdl-card{
    min-height: 150px;

    padding-bottom: 5px;
}

.wide-card.mdl-card {
  width: 230px;
    margin-top: 10px;
  margin-bottom: 10px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 30px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.item-wr
{
	margin: 15px;
}

.fixedbutton {
 position:absolute;
   top:5px;
   right:5px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.mdl-card__title
{
font-family: 'Marvel', sans-serif; 
text-transform: capitalize;
padding: 10px;
}



