
<!-- Wide card with share menu button -->
<div class ="main">
<br>
<div class="ui stackable two column grid">
<div class="wide-card mdl-card mdl-shadow--2dp item-wr mdl-card--expand " *ngFor="let acct of accounts">
  &nbsp;
  <div class="mdl-card__title" style="background-color: #b2ebf2;">
    <h1 class="mdl-card__title-text">
      <span style="font-weight: bold;">
      {{acct.company_name}}  
    </span>
    </h1> 
  </div>

  <p>  
      {{acct.company_address_line1}}
    <br>
      {{acct.company_address_line2}}
  </p>

     <div class = "mdl-grid">
               <div class = "mdl-cell mdl-cell--6-col">
                <h2>{{acct.company_type}}</h2> 
                <p>Company Type</p>
               </div>
               <div class = "mdl-cell mdl-cell--6-col">
                <h2>{{acct.Industry_type}}</h2> 
                <p> Industry type</p>
                </div>
               <div class = "mdl-cell mdl-cell--6-col">
                <h2>{{acct.employee_count}}</h2>
                <p> Employee Count </p>
              </div>
              <div class = "mdl-cell mdl-cell--6-col">
                <h2>{{somefunction(acct.contact_persons)}}</h2>
                <p> Contact Persons Count </p>
              </div>
    </div>

  <!--table class="mdl-data-table mdl-js-data-table" >
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric" style="font-size: 20px; font-weight: bold;">Name</th>
      <th style="font-size: 20px; font-weight: bold;">Title</th>
      <th style="font-size: 20px; font-weight: bold;">Primary Contact</th>
      <th style="font-size: 20px; font-weight: bold;">Decision Maker</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cntct of acct.contact_persons | contactpersons">
      <td class="mdl-data-table__cell--non-numeric">{{cntct.contact_person_name}}</td>
      <td>{{cntct.contact_person_title}}</td>
      <td>{{cntct.Decision_maker}}</td>
      <td>{{cntct.primary_contact}}</td>
    </tr>
  </tbody>
</table-->
  
</div>
</div>
</div>
<br>
