
<br>
<br>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored fixedbutton" (click)="on_add_account()">Add Account</button>
<br>

<!-- Wide card with share menu button -->
<div class ="main">
  <div class="ui stackable two column grid">
    <div class="wide-card mdl-card mdl-shadow--2dp item-wr mdl-card--expand " 
    *ngFor="let acct of accounts">
  
      <!--Company Name-->
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">
          <span style="font-weight: bold; background-color: #00897b; color: white; padding: 8px;border-radius: 10px;font-size: 20px;">
            {{acct.companyname}}  
          </span>
        </h1>
      </div>

      <!--Company Address-->
      <p>  
        {{acct.company_address_line1}}
        <br>
        {{acct.company_address_line2}}
      </p>

      <!--Company type, Industry type, Employee Count, Contact Person Count -->
      <div class = "ui stackable four column grid">
        <div class = "column">
          <p><span style="font-size: 20px; font-weight: bold; text-align: center;"> {{acct.companytype}}</span> <br>
          <span style="color: gray; font-size: 12px;">Company Type</span></p>
        </div>

        <div class = "column">
          <p><span style="font-size: 20px; font-weight: bold;text-align: center;">{{acct.industrytype}}</span><br> 
          <span style="color: gray; font-size: 12px;">Industry type</span></p>
        </div>

        <div class = "column">
          <p><span style="font-size: 20px; font-weight: bold;text-align: center;">{{acct.employee_count}}</span><br>
          <span style="color: gray; font-size: 12px;">Employee</span></p>
        </div>

        <div class = "column">
          <p><span style="font-size: 20px; font-weight: bold;text-align: center;">{{countContactPerson(acct.contact_persons)}}</span><br>
          <span style="color: gray; font-size: 12px;">Contact Persons</span></p>
        </div>
      </div>
      <br>

      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons" (click)="on_edit_account(acct.companyid)">edit</i>
        </button>
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons" (click)="on_delete_account(acct.companyid)">delete</i>
        </button>
      </div>
    </div>
  </div>
</div>
<br>
