<div align="center">
  <div *ngIf="ev">

	<!--Modal for adding a new Product-->
	<lsu-modal [(ngModel)]="addProductModal_flag" [options]="modalOptions" align="center">
  
  		<div class="header">Create Product</div>
  
  		<div class="description">
    	<br>
    	<!--Product Name-->
    		<form class="ui mini form">
      			<div class="field" style="padding: 20px;">
        			<label style="font-weight: bold; font-size: 15px;">Product Name</label>
        			<br>
        			<input type="text"  name="Product_name" placeholder="Product Name" [(ngModel)]="Product_name"> 
      			</div>
    		</form>
    	<!--Brand-->
    	    <form class="ui mini form">
      			<div class="field" style="padding: 20px;">
        			<label style="font-weight: bold; font-size: 15px;">Brand</label>
        			<br>
        			<input type="text"  name="Brand" placeholder="Brand" [(ngModel)]="Brand"> 
      			</div>
    		</form>
  		</div>


  		<div class="actions">
    		<button class="ui black deny button" (click)="cancelProductModal()">Cancel</button>
    		<button class="ui positive right labeled icon button" [disabled]="Product_name==''" (click)="on_add_product()">Add
      			<i class="checkmark icon"></i>
    		</button>
  		</div>
	</lsu-modal>

	<div id="" style="overflow-y: scroll;height: 100%;width:95%;">
  	<br>
  <!--Search button with expandable holder-->
  <div appMzterialDesignLite style="float:right; color: white;height: 50px">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
      <label class="mdl-button mdl-js-button mdl-button--icon" for="site-search">
        <i class="material-icons" style="top: 10px">search</i>
      </label>
      <div class="mdl-textfield__expandable-holder">
        <input class="mdl-textfield__input" type="search" id="site-search" name="site-search" placeholder ="Product Name" [(ngModel)] ="querystring" />
        <label class="mdl-textfield__label" for="site-search">Search</label>
      </div>
    </div>
  </div>

  <!--Add Product Button on top right corner-->
  <div style="float:right;padding: 5px;font-family: 'Marvel', sans-serif;">
      <button class="ui inverted button" (click)="addProductModal()">Add Product</button>
  </div>

  <div style="float:right;padding: 5px;font-family: 'Marvel', sans-serif;">
  <button class="ui inverted button" (click)="download()">Export CSV</button>
  </div>
  
  <br>
  <br>
  <br>
		<!--List Product in a table with fields product name, brand and actions (Edit/ Delete)-->
		<table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp" style="width: 95%;background-color: white;height:50vh">
		  	<thead>
		  		<tr>
		    		<th>Product Name</th>
		    		<th>Brand</th>
		    		<th>Actions</th>
		  		</tr>
		  	</thead>

		  	<tbody>
		  		<tr *ngFor="let product of products | filterrecords: querystring : 'products' | sortorder | paginate: { itemsPerPage: 7, currentPage: p }">
		    		<td class="mdl-data-table__cell--non-numeric">{{product.Product_name}}</td>
		    		<td class="mdl-data-table__cell--non-numeric">{{product.Brand}}</td>
		    		<td>
		    			<a (click)="editProductModal(product.productkey)">
		    				<i class="material-icons">edit</i>
		    			</a>
		    			&nbsp;
		    			<a (click)="on_delete_product(product.productkey)">
		    				<i class="material-icons">delete</i>
		    			</a>
		    		</td>
		  		</tr>
		  	</tbody>
		</table>


  <br>

  <!--Pagination-->
  <div class="ui item" style="color: white; background-color: #eee; float:right; border-radius: 5px;">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
	</div>



	<!--Modal for Editing an Product -->
	<lsu-modal [(ngModel)]="editProductModal_flag" [options]="modalOptions">
  
  		<div class="header">Edit Product</div>
  
  		<div class="description">
    	<br>
    	<!--Product Name-->
    		<form class="ui mini form">
      			<div class="field" style="padding: 20px;">
        			<label style="font-weight: bold; font-size: 15px;">Product Name</label>
        			<br>
        			<input type="text"  name="productname" placeholder="Product Name" [(ngModel)]="productname" required> 
      			</div>
   			</form>
    	<!--Brand-->
    		<form class="ui mini form">
      			<div class="field" style="padding: 20px;">
        			<label style="font-weight: bold; font-size: 15px;">Brand</label>
        			<br>
        			<input type="text"  name="brand" placeholder="brand" [(ngModel)]="brands" required> 
      			</div>
   			</form>
  		</div>

  		<div class="actions">
    		<button class="ui black deny button" (click)="cancelProductModal()">Cancel</button>
    		<button class="ui positive right labeled icon button" [disabled]="productname==''" (click)="on_edit_product()">Save changes
      			<i class="checkmark icon"></i>
    		</button>
  		</div>
	</lsu-modal>
 </div>
	
</div>





