.ui.form {
	padding-left: 7px;
	padding-right: 7px;
	width: 214px;
}

.ui.horizontal.divider, .ui.divider {
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif; 
	text-transform: capitalize;
	font-size: 14px;
	font-weight: bolder;
}

.ui.form input:not([type]), .ui.form input[type=text], .ui.form input[type=email], .ui.form input[type=search], .ui.form input[type=password], .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=tel], .ui.form input[type=time], .ui.form input[type=url], .ui.form input[type=number]{
	padding-top: 3px;
    padding-bottom: 3px;
    height: 28px;
}

.main{
	padding:5px 30px 10px 30px;
}

.labelspec {
    color: inherit;
    display: block;
    font-size: .9em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.wide-card.mdl-card {
  width: 285px;
         padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
        margin-top: 5px;
    margin-bottom: 5px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 30px;
}

.mdl-card__title{
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.ui.labels, .ui.label{
  font-size: 0.9rem!important;
}

.item-wr
{
	margin: 15px;
}

.fixedbutton {
  position:absolute;
  top:5px;
  right:5px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.mdl-card__title
{
font-family: 'Marvel', sans-serif; text-transform: capitalize;
}

.ui.red.statistic>.value, .ui.statistics .statistic>.value {
    font-size: 1.0rem!important;
}

.ui.tiny.statistic>.value, .ui.tiny.statistics .statistic>.value {
    font-size: 1.2rem!important;
    text-align: left;
    overflow: auto; 
    text-overflow:  ellipsis-word; 
    white-space: nowrap;
    width: 100px;
    height: 16px;
}

.ui.tiny.statistic>.label, .ui.tiny.statistics .statistic>.label {
    text-align: left;
}

.ui.styled.accordion .title{
  padding-top: 6px;
  padding-bottom: 6px;
}

.ui.column .column{
  padding-top: 6px;
  padding-bottom: 6px;
  marigin-top: -14px;
  margin-bottom: -14px;
}


