<div class="main">
  <div *ngIf="ev">
  	<div id="" style="overflow-y: scroll; height: 100%; width: 100%">

      <div class="card" style=" background-color: #e8eaf6; border-radius: 5px;">
        <!--Tabs of List and create new opportunities of Inside Sales -->
        <lsu-tabset type="'tabular'">
          <!--List Inside Sales Opportunities-->
          <lsu-tab  [headerText]="'Opportunities'" [active]="oppoFlag">
            <div class="ui stackable three column grid" style="margin-top: 14px; margin-bottom: 3px;">
              <div class="wide-card mdl-card mdl-shadow--2dp item-wr mdl-card--expand" 
              *ngFor="let insales of in_sales | sortasc: {property: 'license_to', direction: 1 } | paginate: { itemsPerPage: 3, currentPage: p }">

              <button class = "ui circular info icon button" (click)="on_edit_inssales(insales.insideSalesid)">
                <i class="material-icons" style="font-size: 12pt;">edit</i>
              </button>

                <!--Customer Name , Product with uom & quantity, License From & to Date, Status -->
                <div class="ui card" style="width: 100%;height: 100%;">
                  <div class="ui divided selection list">
                    <a class="item">
                      <div class="ui teal labels">
                        <div class="labelspec" style="color: black;">CUSTOMER:
                          <div class="ui label">
                            <app-assignedtocompanyget [name]="insales.customer"> </app-assignedtocompanyget>
                          </div>
                        </div>
                      </div>
                    </a>

                    <a class="item">
                      <div class="ui blue labels">
                        <div class="labelspec" style="color: black;">PRODUCT:  
                          <div class="ui label">
                            <app-assignedtoproductget [name]="insales.product"></app-assignedtoproductget> , {{insales.quantity ? insales.quantity : 0 }} {{insales.uom}}
                          </div>
                        </div>
                      </div>
                    </a>

                    <a class="item">
                      <div class="ui teal labels">
                        <div class="labelspec" style="color: black;">LICENSE:   
                          <div class="ui label">
                            {{insales.license_from ? insales.license_from  : "NONE" }} - {{insales.license_to ? insales.license_to : "NONE" }}
                          </div>
                        </div>
                      </div>
                    </a>

                    <a class="item">

                      <div class="ui blue labels">
                        <div class="labelspec" style="color: black;">STATUS: 
                          <div class="ui label">{{insales.status}}
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="ui styled accordion">
                    <div class="title" [ngClass]="{'title--active' : insales.quoteInfo}" (click)="showContent('quote',insales)">
                      <i class="dropdown icon"></i>
                      Quote Info.
                    
                      <div class="content" *ngIf="insales.quoteInfo">

                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny blue statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.quote_id ? insales.quote_id : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">QUOTE ID</div>
                            </div>
                          </div>

                          <div class = "column">          
                            <div class="ui tiny blue statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.quote_ref_no ? insales.quote_ref_no : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">QUOTE REF NO</div>
                            </div>
                          </div>
                        </div>

                          <div class = "ui stackable two column grid">  
                            <div class="column">        
                              <div class="ui tiny blue statistic">
                                <div class="value" style="font-size: 5px; font-weight: bold;">
                                  {{insales.quote_date ? insales.quote_date : "NONE"}}
                                </div>
                                <div class="label" style="color: black; font-size: 10px;">QUOTE DATE</div>
                              </div>
                            </div>
                          </div>

                      </div>
                    </div>

                    <div class="title" [ngClass]="{'title--active' : insales.cpoInfo}" (click)="showContent('CPO',insales)">
                      <i class="dropdown icon"></i>
                      CPO Details
                   
                      <div class="content" *ngIf="insales.cpoInfo">
                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.cpo_no ? insales.cpo_no : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">CPO NO</div>
                            </div>
                          </div>

                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.cpo_date ? insales.cpo_date : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">CPO DATE</div>
                            </div>
                          </div>
                        </div>

                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.cpo_det_id ? insales.cpo_det_id : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">CPO DET ID</div>
                            </div>
                          </div>

                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.indent_date ? insales.indent_date : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">INDENT DATE</div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="title" [ngClass]="{'title--active' : insales.spInfo}" (click)="showContent('SP',insales)">
                      <i class="dropdown icon"></i>
                      Sales and Purchase
                      <div class="content" *ngIf="insales.spInfo">
                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny blue statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.sales_rate ? insales.sales_rate : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">SALES RATE</div>
                            </div>
                          </div>

                          <div class = "column">          
                            <div class="ui tiny blue statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.sales_amt ? insales.sales_amt : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">SALES AMOUNT</div>
                            </div>
                          </div>
                        </div>

                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.purchase_rate ? insales.purchase_rate : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">PURCHASE RATE</div>
                            </div>
                          </div>

                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.purchase_amt ? insales.purchase_amt : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">PURCHASE AMT</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="title" [ngClass]="{'title--active' : insales.supInfo}" (click)="showContent('SUP',insales)">
                      <i class="dropdown icon"></i>
                      Supplier Details
                    
                      <div class="content" *ngIf="insales.supInfo">
                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.supplier_po_no ? insales.supplier_po_no : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">SUPPLIER PO NO</div>
                            </div>
                          </div>

                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.supplier_rate ? insales.supplier_rate : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">SUPPLIER RATE</div>
                            </div>
                          </div>
                          
                        </div>

                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.supplier_purchase_date ? insales.supplier_purchase_date : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">SUPPLIER PURCHASE DATE</div>
                            </div>
                          </div>

                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.supplier_invoice_date ? insales.supplier_invoice_date : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">SUPPLIER INV PURCHASE DATE</div>
                            </div>
                          </div>
                        </div>

                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.supplier_invoice_no ? insales.supplier_invoice_no : "NONE"}} 
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">SUPPLIER INV NO</div>
                            </div>
                          </div>

                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                <app-assignedtosupplierget [name]="insales.supplier_name"></app-assignedtosupplierget>
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">SUPPLIER</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="title" [ngClass]="{'title--active' : insales.licInfo}" (click)="showContent('LIC',insales)">
                      <i class="dropdown icon"></i>
                      License Information
                    
                      <div class="content" *ngIf="insales.licInfo">
                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny blue statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.license_key ? insales.license_key : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">LICENSE KEY</div>
                            </div>
                          </div>

                          <div class = "column">          
                            <div class="ui tiny blue statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.lic_upload_file_loc ? insales.lic_upload_file_loc : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">LICENSE FILE UPLOAD LOCATION</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="title" [ngClass]="{'title--active' : insales.invInfo}" (click)="showContent('INV',insales)">
                      <i class="dropdown icon"></i>
                      Invoice Information
                    
                      <div class="content" *ngIf="insales.invInfo">
                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.invoice_no ? insales.invoice_no : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">INVOICE NO</div>
                            </div>
                          </div>

                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.invoice_date ? insales.invoice_date : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">INVOICE DATE</div>
                            </div>
                          </div>
                        </div>

                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.invoice_amt ? insales.invoice_amt : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">INVOICE AMOUNT</div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div class="title" [ngClass]="{'title--active' : insales.regInfo}" (click)="showContent('REG',insales)">
                      <i class="dropdown icon"></i>
                      Remarks and Region
                    
                      <div class="content" *ngIf="insales.regInfo">
                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny blue statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                <app-assignedtonameget [name]="insales.assigned_to"></app-assignedtonameget>
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">ASSIGNED TO</div>
                            </div>
                          </div>

                          <div class = "column">          
                            <div class="ui tiny blue statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.remarks ? insales.remarks : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">REMARKS</div>
                            </div>
                          </div>
                        </div>

                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.region ? insales.region : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">REGION</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>      
                </div>
              </div>       
            </div>  
            
            <!--Pagination-->    
            <div class="ui item" style="color: white; background-color: #757575; float:right; border-radius: 3px; position: relative; z-index: 1">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
            <br>
          </lsu-tab>

          <!--Create new Inside Sales Opportunities-->
          <lsu-tab  [headerText]="'Create New'">
            <div class="ui card" style="width: 100%;height: 100%;">
              <div class="content">
                <div class="ui container">
                  <div class="ui segment">

                    <div class="ui horizontal divider">Quote Info.</div>
                    <br>

                    <!-- Quote ID, Quote Reference No., Quote Date-->
                    <div class="ui stackable three column grid">
                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Quote ID</label>
                         <input type="text"  class="form-control" name="quote_id" placeholder="Quote ID" [(ngModel)]="quote_id">
                        </div>
                      </form>

                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Quote Ref. No.</label>
                         <input type="text"  class="form-control" name="quote_ref_no" placeholder="Quote Ref" [(ngModel)]="quote_ref_no">
                        </div>
                      </form>

                      <form class="ui form">
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;">Quote Date</label>
                          <input [ngModel]="quote_date | date:'yyyy-MM-dd'" (ngModelChange)="quote_date = $event" type="date" name="quote_date" />
                        </div>
                      </form>
                    </div>
                    
                    <br>
                    <div class="ui horizontal divider"> CPO Details</div>
                    <br>

                    <!-- CPO No., CPO Date, Indent Date, CPO DET ID-->
                    <div class="ui stackable four column grid">
                      <form class="ui form" >
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">CPO No.</label>
                         <input type="text"  class="form-control" name="cpo_no" placeholder="CPO No." [(ngModel)]="cpo_no">
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;">CPO Date</label>
                          <input [ngModel]="cpo_date | date:'yyyy-MM-dd'"  (ngModelChange)="cpo_date = $event" type="date" name="cpo_date" />
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">CPO DET ID</label>
                         <input type="text"  class="form-control" name="cpo_det_id" placeholder="CPO DET ID" [(ngModel)]="cpo_det_id">
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;">Indent Date</label>
                          <input [ngModel]="indent_date | date:'yyyy-MM-dd'" (ngModelChange)="indent_date = $event" type="date" name="indent_date">
                        </div>
                      </form>

                    </div>
                    
                    <br>
                    <div class="ui horizontal divider"> Customer Info and Product</div>
                    <br>

                    <!-- Customer Name, Product, Unit of measurement and quantity-->
                    <div class="ui stackable four column grid">
                      <form class="ui form" >
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;" for="exampleFormControlSelect1">Customer Name</label>
                          <select class="form-control" id="exampleFormControlSelect1" name="companyname" [(ngModel)]="companyname" style="height: 29px;font-size: 1.2em">
                            <option *ngFor="let cn of accounts" [value]="cn.companyid"> {{cn.companyname}} </option>
                          </select>
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;" for="exampleFormControlSelect2">Product</label>
                          <select class="form-control" id="exampleFormControlSelect2" name="Product_name" [(ngModel)]="Product_name" style="height: 29px;font-size: 1.2em">
                            <option *ngFor="let pd of products" [value]="pd.productkey"> {{pd.Product_name}} </option>
                          </select>
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;" for="exampleFormControlSelect3">Unit of Measurement</label>
                          <select class="form-control" id="exampleFormControlSelect3" name="uom" [(ngModel)]="uom" style="height: 29px;font-size: 1.2em">
                            <option>Lic</option>
                            <option>Box</option>
                            <option>Unit</option>
                          </select>
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Quantity</label>
                         <input type="number"  class="form-control" name="quantity" placeholder="Quantity" [(ngModel)]="quantity">
                        </div>
                      </form>

                    </div>

                    <br>
                    <div class="ui horizontal divider"> Sales and Purchase</div>
                    <br>

                    <!-- Sales Rate, Sales amount, Purchase Rate and Purchase amount-->
                    <div class="ui stackable four column grid">
                      <form class="ui form" >
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Sales Rate</label>
                         <input type="number"  class="form-control" name="sales_rate" placeholder="Sales Rate" [(ngModel)]="sales_rate">
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;">Sales Amount</label>
                          <input type="number"  class="form-control" name="sales_amt" placeholder="Sales Amount" [(ngModel)]="sales_amt">
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;">Purchase Rate</label>
                          <input type="number"  class="form-control" name="purchase_rate" placeholder="Purchase Rate" [(ngModel)]="purchase_rate">
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;">Purchase Amount</label>
                          <input type="number"  class="form-control" name="purchase_amt" placeholder="Purchase Amount" [(ngModel)]="purchase_amt">
                        </div>
                      </form>

                    </div>
                    
                    <br>
                    <div class="ui horizontal divider"> Supplier Details</div>
                    <br>

                    <!-- Supplier Purchase Order No, Supplier Purchase Date, Supplier-->
                    <div class="ui stackable three column grid">
                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Supplier PO No.</label>
                         <input type="text"  class="form-control" name="supplier_po_no" placeholder="Supplier PO No." [(ngModel)]="supplier_po_no">
                        </div>
                      </form>

                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Supplier Purchase Date</label>
                          <input [ngModel]="supplier_purchase_date | date:'yyyy-MM-dd'" (ngModelChange)="supplier_purchase_date = $event" type="date" name="supplier_purchase_date">
                        </div>
                      </form>

                      <form class="ui form">
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;" for="exampleFormControlSelect4">Supplier</label>
                          <select class="form-control" id="exampleFormControlSelect4" name="supplier_name" [(ngModel)]="supplier_name" style="height: 29px;font-size: 1.2em">
                            <option *ngFor="let sp of suppliers" [value]="sp.supplier_id">{{sp.supplier_name}}</option>
                          </select>
                        </div>
                      </form>
                    </div>
                    <br>
                    <br>

                    <!-- Supplier Rate, Supplier Invoice No, Supplier Invoice Date-->
                    <div class="ui stackable three column grid">
                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;"> Supplier Rate</label>
                         <input type="number"  class="form-control" name="supplier_rate" placeholder="Supplier Rate" [(ngModel)]="supplier_rate">
                        </div>
                      </form>

                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Supplier Invoice No.</label>
                         <input type="text"  class="form-control" name="supplier_invoice_no" placeholder="supplier invoice no" [(ngModel)]="supplier_invoice_no">
                        </div>
                      </form>

                      <form class="ui form">
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;">Supplier Invoice Date</label>
                          <input [ngModel]="supplier_invoice_date | date:'yyyy-MM-dd'" (ngModelChange)="supplier_invoice_date = $event" type="date" name="supplier_invoice_date">
                        </div>
                      </form>
                    </div>

                    <br>
                    <div class="ui horizontal divider"> License Information</div>
                    <br>

                    <!-- License Key, License Upload File Location, License From and License To-->
                    <div class="ui stackable four column grid">
                      <form class="ui form" >
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">License Key</label>
                         <input type="text"  class="form-control" name="license_key" placeholder="License Key" [(ngModel)]="license_key">
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;">License Upload File Location</label>
                          <input type="text"  class="form-control" name="lic_upload_file_loc" placeholder="lic upload file loc" [(ngModel)]="lic_upload_file_loc">
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;">License From</label>
                          <input [ngModel]="license_from | date:'yyyy-MM-dd'" (ngModelChange)="license_from = $event" type="date" name="license_from" />
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;">License To</label>
                          <input [ngModel]="license_to | date:'yyyy-MM-dd'" (ngModelChange)="license_to = $event" type="date" name="license_to" />
                        </div>
                      </form>

                    </div>
                    
                    <br>
                    <div class="ui horizontal divider"> Invoice Information</div>
                    <br>

                    <!-- Invoice No, Invoice Date and Invoice Amount-->
                    <div class="ui stackable three column grid">
                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Invoice No.</label>
                         <input type="text"  class="form-control" name="invoice_no" placeholder="Invoice No" [(ngModel)]="invoice_no">
                        </div>
                      </form>

                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Invoice Date</label>
                         <input [ngModel]="invoice_date | date:'yyyy-MM-dd'" (ngModelChange)="invoice_date = $event" type="date" name="invoice_date">
                        </div>
                      </form>

                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Invoice Amount</label>
                         <input type="number"  class="form-control" name="invoice_amt" placeholder="Invoice Amount" [(ngModel)]="invoice_amt">
                        </div>
                      </form>
                    </div>

                    <br>
                    <div class="ui divider"></div>
                    <br>

                    <!--Remarks & Region, Created By and Assigned To-->
                    <div class="ui stackable four column grid">
                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Remarks</label>
                         <input type="text"  class="form-control" name="remarks" placeholder="Remarks" [(ngModel)]="remarks">
                        </div>
                      </form>

                      <form class="ui form">
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;" for="exampleFormControlSelect7">Region</label>
                          <select class="form-control" id="exampleFormControlSelect7" name="region" [(ngModel)]="region" style="height: 29px;font-size: 1.2em">
                            <option [value]="'chennai'">Chennai</option>
                            <option [value]="'hyderabad'">Hyderabad</option>
                            <option [value]="'mumbai'">Mumbai</option>
                            <option [value]="'coimbatore'">Coimbatore</option>
                            <option [value]="'bangalore'">Bangalore</option>
                          </select>
                        </div>
                      </form>

                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Created By</label>
                         <input type="text"  class="form-control" name="created_by" placeholder="Created By" [(ngModel)]="created_by" readonly>
                        </div>
                      </form>

                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Assigned To</label>
                          <select class="form-control" id="exampleFormControlSelect4" name="assigned_to" [(ngModel)]="assigned_to" style="height: 29px;font-size: 1.2em">
                            <option *ngFor="let ato of usersbyinsales" [value]="ato.userid">{{ato.name}} </option>
                          </select>
                        </div>
                      </form>
                    </div>
                    <br>
                    <br>

                    <div align=center>
                      <button class="ui teal button" (click)="add_insales_oppo()">Add </button>
                      &nbsp;
                      <button class="ui red button" (click)="cancel_insales_oppo()">Cancel</button>
                    </div>

                  </div>
                </div>
              </div>
            </div>    
          </lsu-tab>

          <!--Upload one time -->
          <lsu-tab  [headerText]="'Upload'">
            <div class="ui card" style="width: 100%;height: 100%;">
              <div class="content">
                <div class="ui container">
                  
                    <input type="file" class="upload" (change)="changeListener($event.target.files)" #myInput>
                    <br>
                    <br>
                    <div class="ui button" style="padding: 0px;">
                    <button type="reset" (click)="reset()">Clear File</button>
                  </div>

                
                </div>
              </div>
            </div>    
          </lsu-tab>



          <!--Edit Inside Sales Opportunities-->
          <lsu-tab  [headerText]="'Edit'" [active]="editFlag">
            
            <div class="ui card" style="width: 100%;height: 100%;">
              <div class="content"  *ngIf="editFlag">
                <div class="ui container" >
                  <div class="ui segment">


                    <div class="ui horizontal divider">Quote Info.</div>
                    <br>

                    <!-- Quote ID, Quote Reference No., Quote Date-->
                    <div class="ui stackable three column grid">
                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Quote ID</label>
                         <input type="text"  class="form-control" name="equote_id" placeholder="Quote ID" [(ngModel)]="equote_id">
                        </div>
                      </form>

                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Quote Ref. No.</label>
                         <input type="text"  class="form-control" name="equote_ref_no" placeholder="Quote Ref" [(ngModel)]="equote_ref_no">
                        </div>
                      </form>

                      <form class="ui form">
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;">Quote Date</label>
                          <input [ngModel]="equote_date | date:'yyyy-MM-dd'" (ngModelChange)="equote_date = $event" type="date" name="equote_date" />
                        </div>
                      </form>
                    </div>
                    
                    <br>
                    <div class="ui horizontal divider"> CPO Details</div>
                    <br>

                    <!-- CPO No., CPO Date, Indent Date, CPO DET ID-->
                    <div class="ui stackable four column grid">
                      <form class="ui form" >
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">CPO No.</label>
                         <input type="text"  class="form-control" name="ecpo_no" placeholder="CPO No." [(ngModel)]="ecpo_no">
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;">CPO Date</label>
                          <input [ngModel]="ecpo_date | date:'yyyy-MM-dd'"  (ngModelChange)="ecpo_date = $event" type="date" name="ecpo_date" />
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">CPO DET ID</label>
                         <input type="text"  class="form-control" name="ecpo_det_id" placeholder="CPO DET ID" [(ngModel)]="ecpo_det_id">
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;">Indent Date</label>
                          <input [ngModel]="eindent_date | date:'yyyy-MM-dd'" (ngModelChange)="eindent_date = $event" type="date" name="eindent_date">
                        </div>
                      </form>

                    </div>
                    
                    <br>
                    <div class="ui horizontal divider"> Customer Info and Product</div>
                    <br>

                    <!-- Customer Name, Product, Unit of measurement and quantity-->
                    <div class="ui stackable four column grid">
                      <form class="ui form" >
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;" for="exampleFormControlSelect1">Customer Name</label>
                          <select class="form-control" id="exampleFormControlSelect1" name="ecompanyname" [(ngModel)]="ecompanyname" style="height: 29px;font-size: 1.2em">
                            <option *ngFor="let cn of accounts" [value]="cn.companyid"> {{cn.companyname}} </option>
                          </select>
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;" for="exampleFormControlSelect2">Product</label>
                          <select class="form-control" id="exampleFormControlSelect2" name="eProduct_name" [(ngModel)]="eProduct_name" style="height: 29px;font-size: 1.2em">
                            <option *ngFor="let pd of products" [value]="pd.productkey"> {{pd.Product_name}} </option>
                          </select>
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;" for="exampleFormControlSelect3">Unit of Measurement</label>
                          <select class="form-control" id="exampleFormControlSelect3" name="euom" [(ngModel)]="euom" style="height: 29px;font-size: 1.2em">
                            <option>Lic</option>
                            <option>Box</option>
                            <option>Unit</option>
                          </select>
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Quantity</label>
                         <input type="number"  class="form-control" name="equantity" placeholder="Quantity" [(ngModel)]="equantity">
                        </div>
                      </form>

                    </div>

                    <br>
                    <div class="ui horizontal divider"> Sales and Purchase</div>
                    <br>

                    <!-- Sales Rate, Sales amount, Purchase Rate and Purchase amount-->
                    <div class="ui stackable four column grid">
                      <form class="ui form" >
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Sales Rate</label>
                         <input type="number"  class="form-control" name="esales_rate" placeholder="Sales Rate" [(ngModel)]="esales_rate">
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;">Sales Amount</label>
                          <input type="number"  class="form-control" name="esales_amt" placeholder="Sales Amount" [(ngModel)]="esales_amt">
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;">Purchase Rate</label>
                          <input type="number"  class="form-control" name="epurchase_rate" placeholder="Purchase Rate" [(ngModel)]="epurchase_rate">
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;">Purchase Amount</label>
                          <input type="number"  class="form-control" name="epurchase_amt" placeholder="Purchase Amount" [(ngModel)]="epurchase_amt">
                        </div>
                      </form>

                    </div>
                    
                    <br>
                    <div class="ui horizontal divider"> Supplier Details</div>
                    <br>

                    <!-- Supplier Purchase Order No, Supplier Purchase Date, Supplier-->
                    <div class="ui stackable three column grid">
                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Supplier PO No.</label>
                         <input type="text"  class="form-control" name="esupplier_po_no" placeholder="Supplier PO No." [(ngModel)]="esupplier_po_no">
                        </div>
                      </form>

                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Supplier Purchase Date</label>
                          <input [ngModel]="esupplier_purchase_date | date:'yyyy-MM-dd'" (ngModelChange)="esupplier_purchase_date = $event" type="date" name="esupplier_purchase_date">
                        </div>
                      </form>

                      <form class="ui form">
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;" for="exampleFormControlSelect4">Supplier</label>
                          <select class="form-control" id="exampleFormControlSelect4" name="esupplier_name" [(ngModel)]="esupplier_name" style="height: 29px;font-size: 1.2em">
                            <option *ngFor="let sp of suppliers" [value]="sp.supplier_id">{{sp.supplier_name}}</option>
                          </select>
                        </div>
                      </form>
                    </div>
                    <br>
                    <br>

                    <!-- Supplier Rate, Supplier Invoice No, Supplier Invoice Date-->
                    <div class="ui stackable three column grid">
                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;"> Supplier Rate</label>
                         <input type="number"  class="form-control" name="esupplier_rate" placeholder="Supplier Rate" [(ngModel)]="esupplier_rate">
                        </div>
                      </form>

                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Supplier Invoice No.</label>
                         <input type="text"  class="form-control" name="esupplier_invoice_no" placeholder="supplier invoice no" [(ngModel)]="esupplier_invoice_no">
                        </div>
                      </form>

                      <form class="ui form">
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;">Supplier Invoice Date</label>
                          <input [ngModel]="esupplier_invoice_date | date:'yyyy-MM-dd'" (ngModelChange)="esupplier_invoice_date = $event" type="date" name="esupplier_invoice_date">
                        </div>
                      </form>
                    </div>

                    <br>
                    <div class="ui horizontal divider"> License Information</div>
                    <br>

                    <!-- License Key, License Upload File Location, License From and License To-->
                    <div class="ui stackable four column grid">
                      <form class="ui form" >
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">License Key</label>
                         <input type="text"  class="form-control" name="elicense_key" placeholder="License Key" [(ngModel)]="elicense_key">
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;">License Upload File Location</label>
                          <input type="text"  class="form-control" name="elic_upload_file_loc" placeholder="lic upload file loc" [(ngModel)]="elic_upload_file_loc">
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;">License From</label>
                          <input [ngModel]="elicense_from | date:'yyyy-MM-dd'" (ngModelChange)="elicense_from = $event" type="date" name="elicense_from" />
                        </div>
                      </form>

                      <form class="ui form" >
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;">License To</label>
                          <input [ngModel]="elicense_to | date:'yyyy-MM-dd'" (ngModelChange)="elicense_to = $event" type="date" name="elicense_to" />
                        </div>
                      </form>

                    </div>
                    
                    <br>
                    <div class="ui horizontal divider"> Invoice Information</div>
                    <br>

                    <!-- Invoice No, Invoice Date and Invoice Amount-->
                    <div class="ui stackable three column grid">
                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Invoice No.</label>
                         <input type="text"  class="form-control" name="einvoice_no" placeholder="Invoice No" [(ngModel)]="einvoice_no">
                        </div>
                      </form>

                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Invoice Date</label>
                         <input [ngModel]="einvoice_date | date:'yyyy-MM-dd'" (ngModelChange)="einvoice_date = $event" type="date" name="einvoice_date">
                        </div>
                      </form>

                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Invoice Amount</label>
                         <input type="number"  class="form-control" name="einvoice_amt" placeholder="Invoice Amount" [(ngModel)]="einvoice_amt">
                        </div>
                      </form>
                    </div>

                    <br>
                    <div class="ui divider"></div>
                    <br>

                    <!--Remarks & Region, Created By and Assigned To-->
                    <div class="ui stackable four column grid">
                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Remarks</label>
                         <input type="text"  class="form-control" name="eremarks" placeholder="Remarks" [(ngModel)]="eremarks">
                        </div>
                      </form>

                      <form class="ui form">
                        <div class="field"  class ="column">
                          <label style="font-weight: bold;" for="exampleFormControlSelect7">Region</label>
                          <select class="form-control" id="exampleFormControlSelect7" name="eregion" [(ngModel)]="eregion" style="height: 29px;font-size: 1.2em">
                            <option [value]="'chennai'">Chennai</option>
                            <option [value]="'hyderabad'">Hyderabad</option>
                            <option [value]="'mumbai'">Mumbai</option>
                            <option [value]="'coimbatore'">Coimbatore</option>
                            <option [value]="'bangalore'">Bangalore</option>
                          </select>
                        </div>
                      </form>

                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Created By</label>
                         <!-- <input type="text"  class="form-control" name="ecreated_by" placeholder="Created By" [(ngModel)]="ecreated_by" readonly> -->
                          <div class="value" style="font-size: 15px;padding-top: 5px;">
                            <app-assignedtonameget [name]="ecreated_by"></app-assignedtonameget>
                          </div>
                        </div>
                      </form>

                      <form class="ui form">
                        <div class="field"  class ="column">
                         <label style="font-weight: bold;">Assigned To</label>
                          <select class="form-control" id="exampleFormControlSelect4" name="eassigned_to" [(ngModel)]="eassigned_to" style="height: 29px;font-size: 1.2em">
                            <option *ngFor="let ato of usersbyinsales" [value]="ato.userid">{{ato.name}} </option>
                          </select>
                        </div>
                      </form>
                    </div>
                    <br>
                    <br>

                    <div align=center>
                      <button class="ui teal button" (click)="edit_insales_oppo()">Edit </button>
                      &nbsp;
                      <button class="ui red button" (click)="cancel_insales_oppo()">Cancel</button>
                    </div>

                  </div>
                </div>
              </div>
            </div>    

          </lsu-tab>


        </lsu-tabset>
      </div>

  	</div>
  </div>
</div>