<div class ="main">
  <div id="" style="overflow-y: scroll;height: 100%; width:100%;">

    <div *ngIf="ev">

    	<div class="ui stackable three column grid" style="margin-top: 14px; margin-bottom: 3px;">
            <div class="wide-card mdl-card mdl-shadow--2dp item-wr mdl-card--expand" 
              *ngFor="let insales of inside_sales | paginate: { itemsPerPage: 3, currentPage: p }">

                <!--Customer Name , Product with uom & quantity, License From & to Date, Status -->
                <div class="ui card" style="width: 100%;height: 100%;">
                  <div class="ui divided selection list">
                    <a class="item">
                      <div class="ui teal labels">
                        <div class="labelspec" style="color: black;">CUSTOMER:
                          <div class="ui label">
                            <app-assignedtocompanyget [name]="insales.customer"> </app-assignedtocompanyget>
                          </div>
                        </div>
                      </div>
                    </a>

                    <a class="item">
                      <div class="ui blue labels">
                        <div class="labelspec" style="color: black;">PRODUCT:  
                          <div class="ui label">
                            <app-assignedtoproductget [name]="insales.product"></app-assignedtoproductget> , {{insales.quantity ? insales.quantity : 0 }} {{insales.uom}}
                          </div>
                        </div>
                      </div>
                    </a>

                    <a class="item">
                      <div class="ui teal labels">
                        <div class="labelspec" style="color: black;">LICENSE:   
                          <div class="ui label">
                            {{insales.license_from ? insales.license_from  : "NONE" }} - {{insales.license_to ? insales.license_to : "NONE" }}
                          </div>
                        </div>
                      </div>
                    </a>

                    <a class="item">

                      <div class="ui blue labels">
                        <div class="labelspec" style="color: black;">STATUS: 
                          <div class="ui label">{{insales.status}}
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="ui styled accordion">
                    <div class="title" [ngClass]="{'title--active' : insales.quoteInfo}" (click)="showContent('quote',insales)">
                      <i class="dropdown icon"></i>
                      Quote Info.
                    
                      <div class="content" *ngIf="insales.quoteInfo">

                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny blue statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.quote_id ? insales.quote_id : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">QUOTE ID</div>
                            </div>
                          </div>

                          <div class = "column">          
                            <div class="ui tiny blue statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.quote_ref_no ? insales.quote_ref_no : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">QUOTE REF NO</div>
                            </div>
                          </div>
                        </div>

                          <div class = "ui stackable two column grid">  
                            <div class="column">        
                              <div class="ui tiny blue statistic">
                                <div class="value" style="font-size: 5px; font-weight: bold;">
                                  {{insales.quote_date ? insales.quote_date : "NONE"}}
                                </div>
                                <div class="label" style="color: black; font-size: 10px;">QUOTE DATE</div>
                              </div>
                            </div>
                          </div>

                      </div>
                    </div>

                    <div class="title" [ngClass]="{'title--active' : insales.cpoInfo}" (click)="showContent('CPO',insales)">
                      <i class="dropdown icon"></i>
                      CPO Details
                   
                      <div class="content" *ngIf="insales.cpoInfo">
                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.cpo_no ? insales.cpo_no : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">CPO NO</div>
                            </div>
                          </div>

                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.cpo_date ? insales.cpo_date : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">CPO DATE</div>
                            </div>
                          </div>
                        </div>

                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.cpo_det_id ? insales.cpo_det_id : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">CPO DET ID</div>
                            </div>
                          </div>

                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.indent_date ? insales.indent_date : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">INDENT DATE</div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="title" [ngClass]="{'title--active' : insales.spInfo}" (click)="showContent('SP',insales)">
                      <i class="dropdown icon"></i>
                      Sales and Purchase
                      <div class="content" *ngIf="insales.spInfo">
                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny blue statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.sales_rate ? insales.sales_rate : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">SALES RATE</div>
                            </div>
                          </div>

                          <div class = "column">          
                            <div class="ui tiny blue statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.sales_amt ? insales.sales_amt : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">SALES AMOUNT</div>
                            </div>
                          </div>
                        </div>

                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.purchase_rate ? insales.purchase_rate : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">PURCHASE RATE</div>
                            </div>
                          </div>

                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.purchase_amt ? insales.purchase_amt : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">PURCHASE AMT</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="title" [ngClass]="{'title--active' : insales.supInfo}" (click)="showContent('SUP',insales)">
                      <i class="dropdown icon"></i>
                      Supplier Details
                    
                      <div class="content" *ngIf="insales.supInfo">
                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.supplier_po_no ? insales.supplier_po_no : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">SUPPLIER PO NO</div>
                            </div>
                          </div>

                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.supplier_rate ? insales.supplier_rate : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">SUPPLIER RATE</div>
                            </div>
                          </div>
                          
                        </div>

                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.supplier_purchase_date ? insales.supplier_purchase_date : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">SUPPLIER PURCHASE DATE</div>
                            </div>
                          </div>

                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.supplier_invoice_date ? insales.supplier_invoice_date : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">SUPPLIER INV PURCHASE DATE</div>
                            </div>
                          </div>
                        </div>

                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.supplier_invoice_no ? insales.supplier_invoice_no : "NONE"}} 
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">SUPPLIER INV NO</div>
                            </div>
                          </div>

                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                <app-assignedtosupplierget [name]="insales.supplier_name"></app-assignedtosupplierget>
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">SUPPLIER</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="title" [ngClass]="{'title--active' : insales.licInfo}" (click)="showContent('LIC',insales)">
                      <i class="dropdown icon"></i>
                      License Information
                    
                      <div class="content" *ngIf="insales.licInfo">
                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny blue statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.license_key ? insales.license_key : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">LICENSE KEY</div>
                            </div>
                          </div>

                          <div class = "column">          
                            <div class="ui tiny blue statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.lic_upload_file_loc ? insales.lic_upload_file_loc : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">LICENSE FILE UPLOAD LOCATION</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="title" [ngClass]="{'title--active' : insales.invInfo}" (click)="showContent('INV',insales)">
                      <i class="dropdown icon"></i>
                      Invoice Information
                    
                      <div class="content" *ngIf="insales.invInfo">
                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.invoice_no ? insales.invoice_no : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">INVOICE NO</div>
                            </div>
                          </div>

                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.invoice_date ? insales.invoice_date : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">INVOICE DATE</div>
                            </div>
                          </div>
                        </div>

                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.invoice_amt ? insales.invoice_amt : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">INVOICE AMOUNT</div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div class="title" [ngClass]="{'title--active' : insales.regInfo}" (click)="showContent('REG',insales)">
                      <i class="dropdown icon"></i>
                      Remarks and Region
                    
                      <div class="content" *ngIf="insales.regInfo">
                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny blue statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                <app-assignedtonameget [name]="insales.assigned_to"></app-assignedtonameget>
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">ASSIGNED TO</div>
                            </div>
                          </div>

                          <div class = "column">          
                            <div class="ui tiny blue statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.remarks ? insales.remarks : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">REMARKS</div>
                            </div>
                          </div>
                        </div>

                        <div class = "ui stackable two column grid">
                          <div class = "column">          
                            <div class="ui tiny teal statistic">
                              <div class="value" style="font-size: 5px; font-weight: bold;">
                                {{insales.region ? insales.region : "NONE"}}
                              </div>
                              <div class="label" style="color: black; font-size: 10px;">REGION</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>      
                </div>
              </div>       
            </div>  
            
            <!--Pagination-->    
            <div class="ui item" style="color: white; background-color: #eee; float:right; border-radius: 3px; position: relative; z-index: 1">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
            <br>

        </div>
    </div>
</div>

