.main{
	padding:5px 30px 10px 30px;
}

.wide-card.mdl-card {
  width: 285px;
         padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
        margin-top: 5px;
    margin-bottom: 5px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 30px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.item-wr
{
	margin: 15px;
}

.ui.labels, .ui.label{
  font-size: 0.9rem!important;
}

.mdl-card__title{
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.fixedbutton {
 position:absolute;
   top:5px;
   right:5px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.mdl-card__title
{
font-family: 'Marvel', sans-serif; text-transform: capitalize;
}

.ui.red.statistic>.value, .ui.statistics .statistic>.value {
    font-size: 1.0rem!important;
}

.ui.tiny.statistic>.value, .ui.tiny.statistics .statistic>.value {
    font-size: 1.2rem!important;
}

.ui.divider{
  margin-top: 5px;
  margin-bottom: 5px;
}

.labelspec {
    color: inherit;
    display: block;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}



