<div align="center">
 <div *ngIf="ev">
  <!--Modal for adding a new OEM-->
  <lsu-modal [(ngModel)]="addOEMModal_flag" [options]="modalOptions" align="center">
  
    <div class="header">Create OEM</div>
  
    <div class="description">
    <br>
      <!--OEM Name-->
      <form class="ui mini form">
        <div class="field" style="padding: 20px;">
          <label style="font-weight: bold; font-size: 15px;">OEM Name</label>
          <br>
          <input type="text"  name="oem_name" placeholder="OEM Name" [(ngModel)]="oem_name" required> 
        </div>
      </form>
    </div>

    <div class="actions">
      <button class="ui black deny button" (click)="cancelOEMModal()">Cancel</button>
      <button class="ui positive right labeled icon button" [disabled]="oem_name==''" (click)="on_add_oem()">Add
        <i class="checkmark icon"></i>
      </button>
    </div>

  </lsu-modal>

  <div id="" style="overflow-y: scroll;height: 100%;width: 95%;">
  <br>

  <!--Search button with expandable holder-->
  <div appMzterialDesignLite style="float:right; color: white;">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
      <label class="mdl-button mdl-js-button mdl-button--icon" for="site-search">
        <i class="material-icons">search</i>
      </label>
      <div class="mdl-textfield__expandable-holder">
        <input class="mdl-textfield__input" type="search" id="site-search" name="site-search" placeholder="OEM Name" [(ngModel)] ="querystring" />
        <label class="mdl-textfield__label" for="site-search">Search</label>
      </div>
    </div>
  </div>

  <!--Add OEM Button on top right corner-->
  <div style="float:right;padding: 10px;font-family: 'Marvel', sans-serif;">
    <button class="ui inverted button" (click)="addOEMModal()">Add OEM</button>
  </div>
  <br>
  <br>

    <!--List OEM in a table with fields oem name and actions (Edit/ Delete)-->
    <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp" style="width: 95%;background-color: white;">
      <thead>
        <tr>
          <th>OEM Name</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let oem of oems | filterrecords: querystring : 'oems' | sortorder | paginate: { itemsPerPage: 7, currentPage: p }">
          <td class="mdl-data-table__cell--non-numeric">{{oem.oem_name}}</td>
          <td>
          	<a (click)="editOEMModal(oem.oem_id)">
          		<i class="material-icons">edit</i>
          	</a>
          	&nbsp;
          	<a (click)="on_delete_oem(oem.oem_id)">
          		<i class="material-icons">delete</i>
          	</a>
          </td>
        </tr>
      </tbody>
    </table>
  <br>
  <br>

  <!--Pagination-->
  <div class="ui item" style="color: white; background-color: #eee; float:right; border-radius: 5px;">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

  </div>

  <!--Modal for Editing an OEM -->
  <lsu-modal [(ngModel)]="editOEMModal_flag" [options]="modalOptions">
    
    <div class="header">Edit OEM</div>
    
    <div class="description">
    <br>
      <!--OEM Name-->
      <form class="ui mini form">
        <div class="field" style="padding: 20px;">
          <label style="font-weight: bold; font-size: 15px;">OEM Name</label>
          <br>
          <input type="text"  name="oemname" placeholder="OEM Name" [(ngModel)]="oemname" required> 
        </div>
      </form>
    </div>

    <div class="actions">
      <button class="ui black deny button" (click)="cancelOEMModal()">Cancel</button>
      <button class="ui positive right labeled icon button" [disabled]="oemname==''" (click)="on_edit_oem()">Save changes
        <i class="checkmark icon"></i>
      </button>
    </div>

  </lsu-modal>

 </div>
  
</div>



