<div class="container" align="center">
  <br>
	<div class="ui main container" style="width: 100%;height: 100%;">
	  <div *ngIf="ev">
		<!-- Company name at the top center-->
		<a class="ui massive label" style="background-color: white; color: #673AB7;" *ngFor="let a of acct">{{a.companyname}}</a>	
		<br>
		<br>

		<div class="card" style="width: 95%; background-color: #e8eaf6; border-radius: 5px;">
		<!--Tabs of Leads and Opportunities-->
		<lsu-tabset type="'tabular'">
			<!--LEADS-->
			<lsu-tab  [headerText]="'Leads'" [active]="'true'">
				<div class="ui inverted segment">
  					<div class="ui inverted accordion">	
 					    <div class ="title" [ngClass]="{'title--active' : lead.isOpen}" (click)="showContent(lead)" *ngFor="let lead of leads">
      						<i class="dropdown icon"></i>
      						{{lead.lead_title}}
      											
      						<div class="content" *ngIf="lead.isOpen">	
								<table class="ui stackable table" >
									<thead>
										<tr>
									      <th>Activity Type</th>
									      <th>Date</th>
									      <th>Remarks</th>
									      <th>Start Time</th>
									      <th>End Time</th>
									      <th>Type</th>
									    </tr>
									</thead>

									<!--Looping through leads to get contact person name and their activities for the company(Used Nested *ngFor Loop)-->
								  	<tbody>
								  		<ng-container *ngFor="let cntct of cp| contactpersons">
									  		<div class="ui teal large label" *ngIf="lead.company_contact_person_id==cntct.contact_person_id;">
									  			 Contact Person Name: {{cntct.contact_person_name}}
									  		</div>
								  		</ng-container>

								  		<div style ="color: black;" *ngIf="lead.activities==undefined">
								  			 &nbsp; Activities: None
								  		</div>
								  		<br>

										<ng-container *ngFor="let activ of lead.activities | contactpersons">
										    <tr *ngIf="activ.activity_type == 'phonecall'">
										      <td>{{activ.activity_type}}</td>
										      <td>{{activ.phonecallDate}}</td>
										      <td>{{activ.phonecallremarks}}</td>
										      <td>{{activ.phonecalltimefrom}}</td>
										      <td>{{activ.phonecalltimeto}}</td>
										      <td>{{activ.phone_call_type}}</td>
										  	</tr>
										  	<tr *ngIf="activ.activity_type == 'onsitevisit'">
										      <td>{{activ.activity_type}}</td>
										      <td>{{activ.visitDate}}</td>
										      <td>{{activ.visitremarks}}</td>
										      <td>{{activ.visittimefrom}}</td>
										      <td>{{activ.visittimeto}}</td>
										      <td></td>
										  	</tr>
									   	</ng-container>
								  	</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
		    </lsu-tab>

		    <!--Opportunities-->
		    <lsu-tab [headerText]="'Opportunities'">
		     	<div class="ui inverted segment">
  					<div class="ui inverted accordion">	
 					    <div class ="title" [ngClass]="{'title--active' : o.oppoOpen}" (click)="showContentOppo(o)" *ngFor="let o of oppo">
      						<i class="dropdown icon"></i>
      						{{o.lead_title}}
      											
      						<div class="content" *ngIf="o.oppoOpen">	
								<table class="ui stackable table" >
									<thead>
										<tr>
										  <th>Opportunity Stage</th>		
									      <th>Activity Type</th>
									      <th>Date</th>
									      <th>Remarks</th>
									      <th>Start Time</th>
									      <th>End Time</th>
									      <th>Type</th>
									    </tr>
									</thead>

									<!--Looping through opportunities to get contact person name and their activities for the company(Used Nested *ngFor Loop)-->
								  	<tbody>
								  		<div style ="color: black;" *ngIf="o.activities==undefined">
								  			 &nbsp; Activities: None
								  		</div>
								  		<br>

										<ng-container *ngFor="let actv of o.activities | contactpersons">
										    <tr *ngIf="actv.activity_type == 'phonecall'">
										      <td>{{actv.opportunity_stage}}</td>
										      <td>{{actv.activity_type}}</td>
										      <td>{{actv.phonecallDate}}</td>
										      <td>{{actv.phonecallremarks}}</td>
										      <td>{{actv.phonecalltimefrom}}</td>
										      <td>{{actv.phonecalltimeto}}</td>
										      <td>{{actv.phone_call_type}}</td>
										  	</tr>
										  	<tr *ngIf="actv.activity_type == 'onsitevisit'">
										  	  <td>{{actv.opportunity_stage}}</td>		
										      <td>{{actv.activity_type}}</td>
										      <td>{{actv.visitDate}}</td>
										      <td>{{actv.visitremarks}}</td>
										      <td>{{actv.visittimefrom}}</td>
										      <td>{{actv.visittimeto}}</td>
										      <td></td>
										  	</tr>
									   	</ng-container>
								  	</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
		    </lsu-tab>
		</lsu-tabset>
		</div>
	</div>
  </div>
</div>



