<div align="center">
  <!--Search button with expandable holder-->
  <div appMzterialDesignLite style="float:right; color: white;">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
      <label class="mdl-button mdl-js-button mdl-button--icon" for="site-search">
        <i class="material-icons">search</i>
      </label>
      <div class="mdl-textfield__expandable-holder">
        <input class="mdl-textfield__input" type="search" id="site-search" name="site-search" placeholder="Event Name" [(ngModel)] ="querystring" />
        <label class="mdl-textfield__label" for="site-search">Search</label>
      </div>
    </div>
  </div>

	<!--Add Event Button on top right corner-->
	<div style="float:right;padding: 10px;font-family: 'Marvel', sans-serif;">
  		<button class="ui inverted button" (click)="addEventModal()">Add Event</button>
	</div>
	<br>
	<br>
 
	<!--Modal for adding a new Event-->
	<lsu-modal [(ngModel)]="addEventModal_flag" [options]="modalOptions" align="center">
  
  		<div class="header">Create Event</div>
  
  		<div class="description">
    	<br>
    	<!--Event Name-->
    		<form class="ui mini form">
      			<div class="field" style="padding: 20px;">
        			<label style="font-weight: bold; font-size: 15px;">Event Name</label>
        			<br>
        			<input type="text"  name="event_name" placeholder="Event Name" [(ngModel)]="event_name" required> 
      			</div>
    		</form>
  		</div>

  		<div class="actions">
    		<div class="ui black deny button" (click)="cancelEventModal()">Cancel</div>
    		<div class="ui positive right labeled icon button" (click)="on_add_event()">Add
      			<i class="checkmark icon"></i>
    		</div>
  		</div>
	</lsu-modal>

	<div id="" style="overflow-y: scroll;height: auto;">
  	<br>
	<br>

	<!--List Event in a table with fields event name and actions (Edit/ Delete)-->
	<table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp" style="width: 95%;background-color: white;">
  	<thead>
  		<tr>
    		<th>Event Name</th>
    		<th>Actions</th>
  		</tr>
  	</thead>

  	<tbody>
  		<tr *ngFor="let event of events | filterrecords: querystring : 'events' | sortorder | paginate: { itemsPerPage: 7, currentPage: p }">
    		<td class="mdl-data-table__cell--non-numeric">{{event.event_name}}</td>
    		<td>
    			<a (click)="editEventModal(event.event_id)">
    				<i class="material-icons">edit</i>
    			</a>
    			&nbsp;
    			<a (click)="on_delete_event(event.event_id)">
    				<i class="material-icons">delete</i>
    			</a>
    		</td>
  		</tr>
  	</tbody>
	</table>
	</div>

  <!--Pagination-->
  <pagination-controls style="color: white; background-color: #eee; position: fixed;
     bottom: 30px; right: 20px;" (pageChange)="p = $event"></pagination-controls>
  
	<!--Modal for Editing an Event -->
	<lsu-modal [(ngModel)]="editEventModal_flag" [options]="modalOptions">
  
  		<div class="header">Edit Event</div>
  
  		<div class="description">
    	<br>
    	<!--Event Name-->
    		<form class="ui mini form">
      			<div class="field" style="padding: 20px;">
        			<label style="font-weight: bold; font-size: 15px;">Event Name</label>
        			<br>
        			<input type="text"  name="eventname" placeholder="Event Name" [(ngModel)]="eventname" required> 
      			</div>
   			</form>
  		</div>

  		<div class="actions">
    		<div class="ui black deny button" (click)="cancelEventModal()">Cancel</div>
    		<div class="ui positive right labeled icon button" (click)="on_edit_event()">Save changes
      			<i class="checkmark icon"></i>
    		</div>
  		</div>
	</lsu-modal>
	
</div>




