<div class = "container" align = "center" class = "main">
	<div *ngIf="ev">
		<div class="ui card" style="width: 60%;height: 100%;">
			<br>
			<label style="font-family: Lucida Grande, Lucida Sans Unicode, Arial, Helvetica, sans-serif; font-size: 18px;"> Sales Team funnel (Team wise)</label>
		<!--Name & Region-->
        <form class="ui mini form">
          
            <div class="form-group column" style="padding: 30px;">
              <label style="font-weight: bold; font-size: 15px;" for="exampleFormControlSelect1">Team List: </label>
              <select class="form-control" id="exampleFormControlSelect1" name="user" [(ngModel)]="user" (change)="onItemChange($event.target.value)">
				      <option [value]="'All'">All</option>
				      <option *ngFor="let p of person_list" [value]="p.userid">{{ p.name }}</option>
              </select>
            </div>
        
        </form>

		<chart [options] = "options"></chart>
	</div>
	</div>
</div>
