<div class ="main">
  <div id="" style="overflow-y: scroll;height: 100%; width:100%;">

    <div *ngIf="ev">

      <!-- Lead Title at the top center-->
      <div align="center">
        <a class="ui massive label" style="font-weight: bolder; background-color: white; color: #673AB7;
        " > {{lead_title}} 
        </a> 
      </div>
      <br>
    
      <!-- Wide card with Edit and Delete button -->
      <div class="ui stackable two column grid">

<!--Card 1-->
      <div class="wide-card mdl-card mdl-shadow--2dp item-wr mdl-card--expand" >

             
       
      </div>

<!--Card 2-->
      <div class="wide-card mdl-card mdl-shadow--2dp item-wr mdl-card--expand">

          



      </div>

      
      
    </div>
  </div>
</div>

