
<div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="header" color="#034f84">
        Revenue YTD
      </div>
      <div class="description">
        <h2 style="color: #bc5a45;font-size: 2.8vw;font-weight: bold;">
         {{rupee(dealvalue_total)}}
       </h2>
     </div>
   </div>
 </div>



 <div class="card">
  <div class="content">
    <div class="header">
     Revenue Vs Target (YTD)
   </div>
   <div class="meta" style="color:  #034f84">
     Target : {{rupee(total)}}
   </div>
   <div class="description" align="center" style="align-content: center;" >
    <br>
   <!--  <div [ngClass]="['c100', 'p{{(dealvalue_total/total)*100  | number : '1.2-2'}}', 'small', 'center']"> -->
    <div class="c100 p{{getValue((dealvalue_total/total)*100)}} small center">
      <span>{{(dealvalue_total/total)  | percent : '1.2-2'}}</span>
      <div class="slice"><div class="bar"></div><div class="fill"></div></div>
    </div>

  </div>
</div>
</div>


<div class="card">
  <div class="content">
    <div class="header">
     Revenue QTD
   </div>

   <div class="description">
    <h2 style="color: #079992;font-size: 2.8vw;font-weight: bold;">
     {{rupee(dealvaluequarter_total)}}
   </h2>
 </div>
</div>

</div>


 <div class="card">
  <div class="content">
    <div class="header">
     Revenue Vs Target (QTD)
   </div>
  <div class="meta" style="color:  #034f84">
     Target : {{rupee(qtd_total)}}
   </div>
   <div class="description" align="center" style="align-content: center;" >
    <br>
    <div class="c100 p{{getValue((dealvaluequarter_total/qtd_total)*100)}} small center">
      <span>{{(dealvaluequarter_total/qtd_total) | percent : '1.2-2'}}</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>

  </div>
</div>
</div>

 <div class="card">
  <div class="content">
    <div class="header">
     Revenue Vs Target (Region)
   </div>

   <div class="description" align="center" style="align-content: center;" >
    <br>
    <div *ngFor="let p of dataFinalRegList">
      {{p.region}} , {{p.revenue}} , {{p.target}}

      <div class="c100 p{{getValueRT(p.revenue,p.target)}} small center">
        <span>{{((p.revenue/p.target) ? (p.revenue/p.target)  : 0 )  | percent : '1.2-2'}}</span>
        <div class="slice"><div class="bar"></div><div class="fill"></div></div>
      </div>
    </div>
  </div>
</div>
</div>

 <div class="card">
  <div class="content">
    <div class="header">
     Revenue Vs Target (Executive)
   </div>

   <div class="description" align="center" style="align-content: center;" >
    <br>
    <div *ngFor="let e of dataFinalEmpList">
    {{e.assigned_to}} , {{e.revenue}} , {{e.target}}
      <div class="c100 p{{getValueRT(e.revenue,e.target)}} small center">
        <span>{{((e.revenue/e.target) ?  (e.revenue/e.target) : 0 ) | percent : '1.2-2'}}</span>
        <div class="slice"><div class="bar"></div><div class="fill"></div></div>
      </div>
    </div>
  </div>
</div>
</div>



</div>

