<!-- Wide card with share menu button -->


<div style="vertical-align: center; ) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;max-height: 100%;height: 100vh;font-family: 'Open Sans Condensed', sans-serif;">
<br>
<br>
<br>
<br>
<br>

<div align="center" class="parent">
  <div class="ui card" style="width: 50%; font-family: 'Open Sans Condensed', sans-serif;">
    <div class="content">
      <div class="header font-new"></div>
      <br>
      <br>

      <div class="meta font-new" style="width: 80%;">
       <!-- Simple Textfield -->
       <form class="ui form">
        <div class="field font-new">
          <input type="text" name="email" placeholder="email" [(ngModel)]="email">
        </div>
        <div class="field"> 
          <input type="password" name="password" placeholder="Password" [(ngModel)]="password" >
        </div>
      </form>
    </div>
    <br>
    <div class="extra content" style="font-family: 'Open Sans Condensed', sans-serif;">
     <!-- Colored raised button -->
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored font-new" (click) = "doLogin(email,password)">
  Login
</button>

   </div>
 </div>
</div>
</div>
</div>