<div class = "container" align="center">

<!-- <mat-tab-group class="demo-tab-group" style="color: white;">
  <mat-tab label="Sales Funnel"> -->
    <!-- <div class="demo-tab-content"> -->
   <app-funnelcharts></app-funnelcharts>
	<br>

	<app-funnelteamcharts></app-funnelteamcharts>
	
	<!--div class=" ui stackable two column grid">
		<div class ="column">
			<app-funnelteamcharts></app-funnelteamcharts>
		</div>

		<div class ="column">
			<app-funnelteamregioncharts></app-funnelteamregioncharts>
		</div>
	</div-->
	<br>

	<app-funnelallcharts></app-funnelallcharts>
	<br>
	<app-funnelallregioncharts></app-funnelallregioncharts>
    <!-- </div> -->
 <!--  </mat-tab>
  <mat-tab label="Predictions">
   <div class="demo-tab-content">
      No content  
    </div>  
  </mat-tab>
  <mat-tab label="Revenue">
    No content  
  </mat-tab>
  <mat-tab label="Tab 6">
    No content  
  </mat-tab>
</mat-tab-group>
 -->

	

	
</div>
