<div class="main">

		

		<div class="ui top attached tabular menu" style="background-color: #CFD8DC; " >
			<a class="item active" data-tab="first">Funnel</a>
		</div>

		<div class="ui bottom attached tab segment active" data-tab="first" style="background-color: #424242; " >
			<div class = "container">
				<app-funnelcharts></app-funnelcharts>
				<br>

				<app-funnelteamcharts></app-funnelteamcharts>
				<br>

				<app-funnelallcharts></app-funnelallcharts>
				<br>
				<app-funnelallregioncharts></app-funnelallregioncharts>
			</div>
		</div>



</div>
