<div class="container" align="center">
  <br>
	<div class="ui main container" style="width: 100%;height: 100%;">
    <div *ngIf="ev">
    	<div class="ui card" style="width: 90%;height: 100%;">
      		<div class="content">
        		<div class="ui container">
          			<div class="ui segment">
            
                  <!--Company Name-->
            			<form class="ui form">
              				<div class="field">
                			<label style="font-weight: bold;">Company Name</label>
                			<input type="text"  name="companyname" placeholder="Company Name" [(ngModel)]="companyname"> 
              				</div>
            			</form>
            			<br>

                  <!--Company Address-->
            			<form class="ui form">
              				<div class="field">
                			<label>Company Address</label>
                			<input type="text"  name="company_address_line1" placeholder="Company Address Line1" [(ngModel)]="company_address_line1">
                			<br>
                			<br>
                			<input type="text"  name="company_address_line2" placeholder="Company Address Line2" [(ngModel)]="company_address_line2">
              				</div>
                      <div class="ui three column grid">
                        <div class="column">
                          <input type="text" name="company_address_area" placeholder="Area" [(ngModel)]="company_address_area" >
                        </div>
                        <div class="column">
                          <input type="text" name="company_address_state" placeholder="State" [(ngModel)]="company_address_state" >
                        </div>
                        <div class="column">
                          <input type="text" name="company_address_pincode" placeholder="Pincode" [(ngModel)]="company_address_pincode" >
                        </div>
                      </div>
            			</form>	

            			<div class="ui grid container">
            				<div class="ui three column grid">
            					<div class = "row">

                        <!--Number of Employee-->
                        <div class="field" class="column" >
                          <div class="ui input">
                            <label>No. of Employees: </label>
                            <input type="text"  class="form-control" name="employee_count" placeholder="Employee Count" [(ngModel)]="employee_count" required (keyup)=onKey($event)>
                          </div>
                        </div>

              				  <!--Industry Type-->
              					<div class="form-group column">
                					<label for="exampleFormControlSelect1">Industry Type: </label>
                					&nbsp;
                          {{industry_type}}
              					</div>
          
              				  <!--Company Type-->
              					<div class="form-group column">
                					<label for="exampleFormControlSelect1">Company Type</label>
                					&nbsp;
                					<select class="form-control" id="exampleFormControlSelect1" name="company_type" [(ngModel)]="company_type">
                  						<option>Pvt</option>
                  						<option>Inc</option>
                  						<option>Ltd</option>
                					</select>
              					</div>
              				</div>
              			</div>
              		</div>

            			<div class="ui fitted divider"></div>
                  <br>

            			<label style="font-weight: bold;">Contact Person Details</label>

                  <!--Contact Person Information-->
            			<table class="ui stackable table" style="background-color: #757575;">
            				<thead>
              				<tr>
                				<th>NAME</th>
                        <th>TITLE</th>
                				<th>PRIMARY CONTACT</th>
                        <th>DECISION MAKER</th>
                				<th>CATEGORY</th>
                				<th>MOBILE</th>
                        <th>PHONE</th>
                        <th>EMAIL</th>   
                      </tr>
            				</thead>

            				<tbody *ngFor="let cntct of contact_persons | contactpersons">
            				<tr>
                     
            					<td class="field">
                        <form class="ui form">
            						  <input type="text"  name="contact_person_name" placeholder= "Name" [(ngModel)]="cntct.contact_person_name">
                        </form>
            					 </td>

                      <td class="field">
                        <form class ="ui form">
                          <input type="text"  name="contact_person_title" placeholder="Title" [(ngModel)]="cntct.contact_person_title" minlength=10>
                        </form>
                      </td>
            					    
                      <td class="form-group column">
                        <select class="form-control" id="exampleFormControlSelect1" name="Primary_contact" [(ngModel)]="cntct.Primary_contact">
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </td> 

                      <td class="form-group column">
                        <select class="form-control" id="exampleFormControlSelect1" name="Decision_maker" [(ngModel)]="cntct.Decision_maker">
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </td>    
                     
                      <td class="form-group column">
                        <select class="form-control" id="exampleFormControlSelect1" name="contact_person_category" [(ngModel)]="cntct.contact_person_category">
                          <option>Finance</option>
                          <option>Purchase</option>
                          <option>Executive Member</option>
                          <option>Sales/BD</option>
                          <option>Senior Member</option>
                          <option>Others</option>
                        </select>
                      </td> 
                    
                      <td class="field">
                        <form class="ui form">
                          <input type="text"  name="contact_person_mobile" placeholder= "Mobile Phone" [(ngModel)]="cntct.contact_person_mobile">
                        </form>
                      </td>


                      <td class="field">
                        <form class="ui form">
                          <input type="text"  name="contact_person_phone" placeholder= "Landline" [(ngModel)]="cntct.contact_person_phone">
                        </form>
                      </td>
         				
                			<td class="field">
                        <form class="ui form">
                          <input type="email"  name="contact_person_email" placeholder= "Email" [(ngModel)]="cntct.contact_person_email">
                        </form>
                      </td>
                    </tr>
            			</tbody>

                  <tbody>
                    <tr *ngFor="let cntct of contact_person">
                     
                      <td class="field">
                         <form class="ui form">
                        <input type="text"  name="contact_person_name" placeholder= "Name" [(ngModel)]="cntct.contact_person_name">
                        </form>
                       </td>
                          
                      <td class="field" class ="one wide column">
                        <form class ="ui form">
                        <input type="text"  name="contact_person_title" placeholder="Title" [(ngModel)]="cntct.contact_person_title">
                      </form>
                      </td>
                     
                      <td class="form-group column">
                        <select class="form-control" id="exampleFormControlSelect1" name="Decision_maker" [(ngModel)]="cntct.Decision_maker">
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </td>

                      <td class="form-group column">
                        <select class="form-control" id="exampleFormControlSelect1" name="Primary_contact" [(ngModel)]="cntct.Primary_contact">
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </td>                 
                      
                      <td class="form-group column">
                        <select class="form-control" id="exampleFormControlSelect1" name="contact_person_category" [(ngModel)]="cntct.contact_person_category">
                          <option>Finance</option>
                          <option>Purchase</option>
                          <option>Executive Member</option>
                          <option>Sales/BD</option>
                          <option>Senior Member</option>
                          <option>Others</option>
                        </select>
                      </td> 
                    
                      <td class="field">
                        <form class="ui form">
                          <input type="tel"  name="contact_person_mobile" placeholder= "Mobile Phone" [(ngModel)]="cntct.contact_person_mobile">
                        </form>
                      </td>

                      <td class="field">
                        <form class="ui form">
                          <input type="tel"  name="contact_person_phone" placeholder= "Landline" [(ngModel)]="cntct.contact_person_phone">
                        </form>
                      </td>
                
                      <td class="field">
                        <form class="ui form">
                          <input type="email"  name="contact_person_email" placeholder= "Email" [(ngModel)]="cntct.contact_person_email">
                        </form>
                      </td> 
                    </tr>
                  </tbody>
                  <!-- Add contact persons-->
                  <i class="large material-icons icon-green" (click)="add_contact_persons()">add_box</i>
          			</table>
               
                <button class="ui teal button" [disabled]="editcompanybuttonshow()" (click)="save_contact_persons()">Save Company</button>
           
                &nbsp;
                <button class="ui red button" (click)="cancel_contact_persons()">Cancel</button>     		
              </div>
				    </div>
			   </div>
		  </div>
    </div>
	</div>
</div>

