i.icon-blue {
    color: blue;
}

.labelspec {
    color: inherit;
    display: block;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.ui.red.statistic>.value, .ui.statistics .statistic>.value {
    font-size: 1.0rem!important;
}

.main{
	padding:10px;
}

.label_span{
	font-weight: bold;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 1em;
}

.mdl_textfield {
  padding: 8px;
}

.mdl_textfield__label {
  top: 10px;
}

.ui.input{
    height: 25px;
}