 <div class ="main">
    <div *ngIf ="ev">
      <div id="" style="overflow-y: scroll;height: 100%; width:100%;">
    

       <div class="card" style=" background-color: #e8eaf6; border-radius: 5px;">
            
          <!--Tabs of Leads and Activities -->
          <lsu-tabset type="'tabular'">
            <!--List of Leads-->
            <lsu-tab  [headerText]="'Leads'" [active]="'true'">
                <div class="ui active dimmer" *ngIf="isLoading">
                    <div class="ui text loader">Loading</div>
                </div>
                <div id="table5">
                    <div class="ui button" (click)="exportTableToCSVLead('Leads.csv', '#table5')">
                       Export CSV File
                    </div>
                <table class="ui inverted table" align="left">

                <thead>
                  <tr>
                    <th>Lead Title</th>
                    <th>Company Name</th>
                    <th>Lead Source</th>
                    <th>OEM/Distributor/Event Name</th>
                    <th>Lead assigned to</th>
                    <th>Status</th>
                    <th>Lead Type</th>
                    <th>Region</th>
                    <th>Value</th>
                    <th>Product - Quantity</th>
                    <th>Contacts</th>
                    <th>EDC</th>
                    <th>Lead Activities Count</th>
                    <th>Presales Assigned</th>
                    <th>Presales Approved</th>
                    <th>Presales Date</th>
                    <th>Presales Remark</th>
                    <th>Created At</th>
                    <th>Meeting Remarks</th>
                  </tr>
                  <tr>
                    <th>
                        <div class="ui input">
                            <input type="text"  name="lead_title" placeholder="Lead Title" [(ngModel)]="lead_title"> 
                        </div>
                    </th>
                    <th>
                        <div class="ui input">
                            <input type="text"  name="company_name" placeholder="Company Name" [(ngModel)]="company_name"> 
                        </div>
                    </th>
                    <th>
                        <div class="ui input">
                           <select [(ngModel)]="lead_source">
                                <option>Select</option>
                                <option>INBOUND LANDLINE</option>
                                <option>EVENT</option>
                                <option>DISTRIBUTOR</option>
                                <option>OEM</option>
                                <option>OUTBOUND CALL</option>
                                <option>ON SITE VISIT</option>
                            </select>
                        </div>
                    </th>
                    <th>
                        <div *ngIf="lead_source == 'OEM' || lead_source == 'EVENT' || lead_source == 'DISTRIBUTOR'">
                            <div class="ui input">
                                <input type="text"  name="oed_name" placeholder="Name" [(ngModel)]="oed_name"> 
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="ui input">
                            <select [(ngModel)]="assigned_to">
                                <option>Select</option>
                                <option *ngFor="let fla of filteredLead" [value]="fla">
                                    <app-assignedtonameget name="{{fla}}"> </app-assignedtonameget>
                                </option>
                            </select>
                        </div>
                    </th>
                    <th>
                        <div class="ui input">
                            <select [(ngModel)]="leadstatus">
                            <option>Select</option>
                            <option>Awaiting Presales</option>
                            <option>Awaiting Manager Approval</option>
                            <option>Pre-Qualification</option>
                            <option>Qualified</option>
                            <option>Rejected</option>
                            </select>
                        </div>
                    </th>
                    <th>
                    </th>
                    <th>
                        <div class="ui input">
                            <input type="text"  name="region" placeholder="Region" [(ngModel)]="region"> 
                        </div>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th> 
                        <div class="ui input">
                            <input [(ngModel)]="EDCStartDate" type="date" name="EDCStartDate" style="height: 29px;width: 137px;padding-left: 2px;padding-right: 2px;"/>
                        
                            <input [(ngModel)]="EDCEndDate" type="date" name="EDCEndDate" style="height: 29px;width: 137px;padding-left: 2px;padding-right: 2px;"/>
                        </div>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let vv of v | filterreportsLeads: lead_title : company_name :  assigned_to : leadstatus : region : EDCStartDate : EDCEndDate : lead_source: oed_name| sortorder">
                    <td>{{vv.lead_title}}</td>
                    <td>{{vv.company_name}}</td>
                    <td>{{leadsourcelabel(vv.leadsource)}}</td> 
                    <td *ngIf="vv.leadsource == 'inbound-landline' || vv.leadsource == 'outboundcall' || vv.leadsource == 'onsite'"></td> 
                    <td *ngIf="vv.leadsource == 'oem'">{{vv.oem_name}}</td>
                    <td *ngIf="vv.leadsource == 'distributor'">{{vv.distributor_name}}</td>
                    <td *ngIf="vv.leadsource == 'event'">{{vv.event_name}}</td>
                    <td><app-assignedtonameget name="{{vv.assigned_to}}"></app-assignedtonameget></td>
                    <td>{{getleadapprovalstatus(vv.leadstatus)}}</td> 
                    <td>{{vv.leadtype}}</td>
                    <td>{{vv.region}}</td>
                    <td>{{returnruppeamount(vv.budget)}}</td>
                    <td *ngIf="vv.products_list == undefined"></td>
                    <td *ngIf="vv.products_list != undefined"><app-getproductquantity [productlist]="vv.products_list"></app-getproductquantity></td>
                    <!-- <div *ngFor="let prod of vv.products_list">
                        <td>{{prod.product_name}} - {{prod.productqty}}</td> 
                    </div> --> 
                    <td><app-getcompanycontactname [companyid]="vv.company_id"></app-getcompanycontactname></td>
                    <td>{{vv.edc}}</td>
                    <td>{{getnooffollowups(vv.activities)}}</td>
                    <td><app-assignedtonameget name="{{vv.presales_approved_to}}"></app-assignedtonameget></td>
                    <td><app-assignedtonameget name="{{vv.presales_approved_by}}"></app-assignedtonameget></td>
                    <td>{{vv.presales_approved_date | date: 'medium' }}</td>
                    <td>{{returnremark(vv.presales_remark)}}</td>
                    <td>{{vv.created_at| date: 'medium'}}</td> 
                    <td>{{vv.meeting_remark}}</td>      
                  </tr>
                </tbody>
              </table>
          </div>
            </lsu-tab>

            <lsu-tab  [headerText]="'Lead Activities'" [active]="'true'">
                <div id="table6">
                    <div class="ui button"  (click)="exportTableToCSVLead('Lead_Activities.csv', '#table6')">
                        Export CSV File
                    </div>
              <table class="ui inverted table" align="left">
                <thead>
                  <tr>
                    <th>Lead Title</th>
                    <th>Company Name</th>
                    <th>Lead Assigned To</th>
                    <th>Value</th>
                    <th>Product - Quantity</th>
                    <th>Activity Type</th>
                    <th>Date</th>
                    <th>Remarks</th>
                    <th>Activity Created at</th>
                  </tr>
                  <tr>
                    <th>
                        <div class ="ui input">
                            <input type="text"  name="lead_title1" placeholder="Lead Title" [(ngModel)]="lead_title1">
                        </div>
                    </th>
                    <th>
                        <div class="ui input">
                            <input type="text"  name="company_name1" placeholder="Company Name" [(ngModel)]="company_name1">
                        </div>
                    </th>
                    <th>
                        <div class="ui input">
                            <select [(ngModel)]="assigned_to1">
                                <option>Select</option>
                                <option *ngFor="let fla of filteredLead" [value]="fla">
                                    <app-assignedtonameget name="{{fla}}"> </app-assignedtonameget>
                                </option>
                            </select>
                        </div>
                    </th>
                  </tr>
                </thead>

                <tbody *ngFor="let activ of v | filterreportsLeads: lead_title1 : company_name1 : assigned_to1 : leadstatus1 : region1 | sortorder">
                  <tr *ngFor="let lead_activ of activ.activities | contactpersons">
                    <td>{{activ.lead_title}}</td>
                    <td>{{activ.company_name}}</td>
                    <td><app-assignedtonameget name="{{activ.assigned_to}}"></app-assignedtonameget></td>
                    <td>{{returnruppeamount(activ.budget)}}</td>
                    <td *ngIf="activ.products_list == undefined"></td>
                    <td *ngIf="activ.products_list != undefined"><app-getproductquantity [productlist]="activ.products_list"></app-getproductquantity></td>
                    <!-- <div *ngFor="let prod1 of activ.products_list">
                    <td>{{prod1.product_name}} - {{prod1.productqty}}</td> 
                    </div> -->
                    <td>{{getactivitytypetext(lead_activ.activity_type)}}</td>         
                    <td *ngIf="lead_activ.activity_type == 'phonecall'">{{lead_activ.phonecallDate | date: 'longDate'}}</td>
                    <td *ngIf="lead_activ.activity_type == 'onsitevisit'">{{lead_activ.visitDate | date: 'longDate' }}</td>
                    <td *ngIf="lead_activ.activity_type == ''"></td>
                    <td *ngIf="lead_activ.activity_type == 'onsitevisit'">{{lead_activ.visitremarks}}</td>
                    <td *ngIf="lead_activ.activity_type == 'phonecall'">{{lead_activ.phonecallremarks}}</td>
                    <td *ngIf="lead_activ.activity_type == ''"></td>
                    <td>{{lead_activ.created_at | date: 'medium'}}</td>
                  </tr>
                </tbody> 
              </table>
          </div>
            </lsu-tab>

            
          </lsu-tabset>
        </div>
    </div>
  </div>
</div>
