<div class ="main">
  <div id="" style="overflow-y: scroll;height: 100%; width:100%;">

    <div *ngIf="ev">

                  <lsu-modal [(ngModel)]="submitModal_flag" [options]="modalOptions" align="center">
              <div class="lsu-modal" style="padding: 10px">
              <div class="header">
                <!--Lead Title, Company Name, EDC-->
                <a style="padding-left: 0px;font-family: 'Marvel', sans-serif; text-transform: capitalize;color: #673AB7 ;font-size:2.0vw;font-weight: bold;">
                Confirm</a> 
              </div> 

              <div class ="ui divider"> </div>

              <div class="description">
                <p style="font-size: 17px; font-family: 'Trebuchet MS', Helvetica, sans-serif; "> Do you confirm in moving the stage to {{stages}}??? </p>
              </div>

              <div class ="ui divider"> </div>

              <div class="action">
                <br>
                <button class="ui black deny button" (click)="cancelModal()">Cancel</button>
                <button class="ui positive right labeled icon button" (click)="submit_stages()">Submit
                  <i class="checkmark icon"></i>
                </button>
              </div>
            </div>

            </lsu-modal>

            <lsu-modal [(ngModel)]="deleteModal_flag" [options]="modalOptions" align="center">
              <div class="lsu-modal" style="padding: 10px">
              <div class="header">
                <!--Lead Title, Company Name, EDC-->
                <a style="padding-left: 0px;font-family: 'Marvel', sans-serif; text-transform: capitalize;color: #673AB7 ;font-size:2.0vw;font-weight: bold;">
                Confirm</a> 
              </div> 

              <div class ="ui divider"> </div>

              <div class="description">
                <p style="font-size: 17px; font-family: 'Trebuchet MS', Helvetica, sans-serif; "> Do you confirm in deleting this opportunity??? </p>
              </div>

              <div class ="ui divider"> </div>

              <div class="action">
                <br>
                <button class="ui black deny button" (click)="cancelModal()">Cancel</button>
                <button class="ui positive right labeled icon button" (click)="deleteOpportunity()">Okay
                  <i class="checkmark icon"></i>
                </button>
              </div>
            </div>

            </lsu-modal>

            <lsu-modal [(ngModel)]="assignedToModal_flag" [options]="modalOptions" align="center">
        <div class="lsu-modal" style="padding: 10px">
          <div class="header">
            <a style="padding-left: 0px;font-family: 'Marvel', sans-serif; text-transform: capitalize;color: #673AB7 ;font-size:2.0vw;font-weight: bold;">
            Confirm</a> 
          </div> 

          <div class ="ui divider"> </div>

          <div class="description">
            <div class="ui stackable two column grid">
              <div class ="ui column">
                <div class="label"  style="font-weight: bold; font-size: 15px;padding: 10px">Old Assigned To:</div>
                <a class="ui label" style="padding-left: 10px; font-size: 20px;"*ngIf="old_assignedto">
                  <app-assignedtonameget name="{{old_assignedto}}"> </app-assignedtonameget>
                </a>
              </div>

              <div class="ui column">
                <div class="label"  style="font-weight: bold; font-size: 15px; padding: 10px;" for="exampleFormControlSelect21">New Assigned To:</div>
                <div class="ui item" style="padding-left: 10px;">
                  <select class="form-control" id="exampleFormControlSelect21" style="height: 29px;font-size: 1.0em; padding-top: 4px; padding-bottom: 4px;width: 130px;" [(ngModel)]="new_assignedto">
                    <option selected [value]="''"></option>
                    <option *ngFor="let n of assignedto" [value]="n.userid"><app-assignedtonameget name="{{n.userid}}"> </app-assignedtonameget> </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class ="ui divider"> </div>

          <div class="action">
            <br>
            <button class="ui black deny button" (click)="cancelModal()">Cancel</button>
            <button class="ui positive right labeled icon button" (click)="chngAssignedToName(new_assignedto)">Submit
              <i class="checkmark icon"></i>
            </button>
          </div>
        </div>
      </lsu-modal>


      <lsu-modal [(ngModel)]="assignedToPreModal_flag" [options]="modalOptions" align="center">
        <div class="lsu-modal" style="padding: 10px">
          <div class="header">
            <a style="padding-left: 0px;font-family: 'Marvel', sans-serif; text-transform: capitalize;color: #673AB7 ;font-size:2.0vw;font-weight: bold;">
            Confirm</a> 
          </div> 

          <div class ="ui divider"> </div>

          <div class="description">
            <div class="ui stackable two column grid">
              <div class ="ui column">
                <div class="label"  style="font-weight: bold; font-size: 15px;padding: 10px">Old Assigned To:</div>
                <a class="ui label" style="padding-left: 10px; font-size: 20px;"*ngIf="old_assignedpreto">
                  <app-assignedtonameget name="{{old_assignedpreto}}"> </app-assignedtonameget>
                </a>
              </div>

              <div class="ui column" >
               <div class="label"  style="font-weight: bold; font-size: 15px; padding: 10px;" for="exampleFormControlSelect22">New Assigned To:</div>
               <div class="ui item" style="padding-left: 10px;">
                  <select class="form-control" id="exampleFormControlSelect22" style="height: 29px;font-size: 1.0em; padding-top: 4px; padding-bottom: 4px;width: 130px;" [(ngModel)]="new_assignedpreto">
                    <option selected [value]="''"></option>
                    <option *ngFor="let n of assignedpreto" [value]="n.userid"><app-assignedtonameget name="{{n.userid}}"> </app-assignedtonameget> </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class ="ui divider"> </div>

          <div class="action">
            <br>
            <button class="ui black deny button" (click)="cancelModal()">Cancel</button>
            <button class="ui positive right labeled icon button" (click)="chngAssignedPreToName(new_assignedpreto)">Submit
              <i class="checkmark icon"></i>
            </button>
          </div>
        </div>
      </lsu-modal>
    
      <!--Search button with expandable holder-->
      <div appMzterialDesignLite style="float:right; color: white;">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="site-search">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="search" id="site-search" name="site-search" placeholder="Company Name" [(ngModel)] ="querystring" />
            <label class="mdl-textfield__label" for="site-search">Search</label>
          </div>
        </div>
      </div>

      <br> 
      <br>
      <br>
      

      <!-- Wide card with Edit and Delete button -->
      <div class="ui stackable three column grid" >
        <div class="wide-card mdl-card mdl-shadow--2dp item-wr mdl-card--expand" 
        *ngFor="let poc of poclist | filterrecords: querystring : 'opportunities' | sortorder | paginate: { itemsPerPage: 3, currentPage: p }">

          <!--Lead Title-->
          <div class="mdl-card__title">
            <a style="padding-left: 0px;font-family: 'Marvel', sans-serif; text-transform: capitalize;color: #673AB7 ;font-size:1.6vw;font-weight: bold;" [routerLink]="['/dashboard/OppoDetail', poc.$key]">
              {{poc.lead_title}}  
            </a>
             <div *ngIf="role=='ADMIN'">
            &nbsp; &nbsp;
          <button class="ui circular google plus icon button" (click)="deleteOppo(poc.$key)" >
            <i class="material-icons"  style="font-size: 12pt;">delete</i>
          </button>
        </div>
          </div>

          <!--Company Name & Created Date -->
          <div class="ui stackable two column grid">
            <div class= "column">
              <p style="font-size: 12px;"> 
                {{poc.company_name}}
                <br>
                {{poc.opportunity_created_at| date: 'medium' }}
              </p>
            </div>

            <div class="column">
              <div class="ui red statistic">
                <div class="value" style="text-transform: uppercase;">
                  {{poc.edc | amTimeAgo}}
               <br>
               <span style="font-size: 0.7rem; color: grey;">
                  {{poc.edc | date: 'longDate'}} </span>
                </div>

                <div class="label" style="color: black; font-size: 10px;text-align: center;">EDC </div>
              </div>
            </div>
          </div>
          

          <div class="ui divider"></div>

          <!-- Lead Source and Product value-->
          <div class="ui stackable two column grid">
            <div class="column">
              
              <span style="color: black; font-size: 10px;text-align: center;">LEAD SOURCE</span>
              <br>
              <a class="ui black label" align="center">
                {{leadsourcelabel(poc.leadsource)}}
              </a>
            
              <p *ngIf="poc.leadsource == 'oem'" style="font-size: 12px; padding: 5px">
                {{poc.oem_name}}
              </p>
              <p *ngIf="poc.leadsource == 'distributor'" style="font-size: 12px; padding: 5px">
                {{poc.distributor_name}}
              </p>
              <p *ngIf="poc.leadsource == 'event'" style="font-size: 12px; padding: 5px">
                {{poc.event_name}}
              </p>
            </div>
             
            <div class="column" >
              <div class="ui tiny blue statistic">
              <br>
                <div class="value" style="font-size: 5px; font-weight: bold;">
                  &#8377;{{returnruppeamount(poc.value)}}
                </div>
                <div class="label" style="color: black; font-size: 10px;text-align: center;">VALUE</div>
              </div>
            </div>
          </div>

          <div class="ui divider"></div>

          <div  align="center">
            <div class="labelspec" style="color: black; font-size: 10px;">CONTACTS:</div>
            <app-getcompanycontactname [companyid]="poc.company_id"> </app-getcompanycontactname>
          </div>

          <div class="ui divider"></div>

          <!--Product name and Quantity-->
          <div class="ui blue labels" align="center">
            <div class="labelspec" style="color: black; font-size: 10px;">PRODUCTS:</div>
            <a class="ui label">
              {{poc.product_name | uppercase}},
              <div class="detail">{{poc.quantity}}</div>
            </a>
          </div>  

          <div class="ui divider"></div>
          <!--Assigned To-->
          <div class="ui teal labels" align="center" *ngIf="role!='ADMIN'">
            <div class="labelspec" style="color: black; font-size: 10px;">ASSIGNED TO:</div>
             <a class="ui label">
              <app-assignedtonameget name="{{poc.opportunity_assignedto}}"> </app-assignedtonameget>
            </a>
          </div>

          <!--Assigned To & Move To For Admin -->
          <div class="ui stackable two column grid" *ngIf="role=='ADMIN'">
            <div class = "column">
              <div class="ui teal labels" align="center">
                <div class="labelspec" style="color: black; font-size: 10px;">ASSIGNED TO:</div>
                <a class="ui label">
                  <app-assignedtonameget name="{{poc.opportunity_assignedto}}"> </app-assignedtonameget>
                </a>
                <a (click)="changeAssignedTo(poc.opportunity_assignedto, poc.$key)">
                  <i class="material-icons" style="font-size: 12pt;" >edit</i>
                </a>
              </div>
            </div>

            <div class = "column">
              <div class="labelspec" for="exampleFormControlSelect11" style="color: black; font-size: 10px;">MOVE TO:</div>
              <select class="form-control" id="exampleFormControlSelect11" (change)="onMoveTo($event.target.value, poc.$key)" style="height: 29px;font-size: 1.0em; padding-top: 4px; padding-bottom: 4px;width: 130px;" [(ngModel)]="stage">
                <option selected [value]="''"></option>
                <option [value]="'Qualified_lead'">Qualified Lead</option>
                <option [value]="'Presales_Presentation'">Presales Presentation</option>
                <option [value]="'Budgetary_Price_Shared'">Budgetary Price Shared</option>
                <option [value]="'Finalising_BOM'">Finalising BOM</option>
                <!-- <option [value]="'POC/Demo'">POC / Demo</option> -->
                <option [value]="'Final_Proposal'">Final Proposal</option>
                <option [value]="'Final_Negotiation'">Final Negotiation</option>
                <option [value]="'Case_won'">Case Won</option>
                <option [value]="'Case_lost'">Case Lost</option>
              </select>
            </div>


          </div>
      
          <div class="ui divider"></div> 
            <!--Presaled assigned & Presales Approved -->  
            <div class="ui stackable two column grid">
              <div class = "column">
                <div class="ui teal labels" align="center">
                  <div class="labelspec" style="color: black; font-size: 10px;">PRESALES APPROVED:</div>
                
                  <a class="ui  label">
                    <app-assignedtonameget name="{{poc.lead_approved_by_presales}}"> </app-assignedtonameget>
                  </a>
                </div>
                <p style="font-size: 12px;" align="center"> {{poc.lead_approved_by_presales_date | date: 'medium' }} </p>
              </div>

              <div class = "column">
                <div class="ui teal labels" align="center">
                  <div class="labelspec" style="color: black; font-size: 10px;">PRESALES ASSIGNED:</div>

                  <a class="ui label">
                    <app-assignedtonameget name="{{poc.lead_presales_approved_to}}"> </app-assignedtonameget>
                  </a>
                  <a (click)="changeAssignedPreTo(poc.lead_presales_approved_to, poc.$key)"  *ngIf="role=='ADMIN'">
                    <i class="material-icons" style="font-size: 12pt;" >edit</i>
                </a>
                </div>
                <p style="font-size: 12px;" align="center"> {{poc.lead_approved_by_presales_date | date: 'medium' }} </p>
              </div>   

            </div>

            <div class="ui divider"></div>

            <!--Activities, Upcoming and Remarks -->
            <div class="title"  style="color: purple; font-size: 15px; font-weight: bold" (click)="showContentActivOppo(poc)"> 
              <i class="dropdown icon"></i>
              ACTIVITIES/ UPCOMING/ REMARKS:    
            </div>
     
            <div class="content" *ngIf="poc.isActivOpen">
              <div class="title"  style="color: purple; font-size: 13px; font-weight: bold"> OPPORTUNITIES ACTIVITIES </div>
    
              <div class="segment" *ngFor = "let actv of poc.opportunity_activities | contactpersons">
                <div class="ui divided selection list">
                    <div class="item">
                      <div class="labelspec" style="color: black; font-size: 10px;">Activity Type: 
                        <span style="font-size: 12px; color: blue">{{getactivitytypetext(actv.activity_type)}}</span>
                        
                      </div>
                    </div>
                    <div class="item">
                      <div class="labelspec" style="color: black; font-size: 10px;">Created By: 
                        <span style="font-size: 12px; color: blue"><app-assignedtonameget name="{{actv.activity_created_by ? actv.activity_created_by : poc.opportunity_assignedto}}"> </app-assignedtonameget></span> 
                      </div>
                    </div>
                    <div class="item">
                      <div class="labelspec" style="color: black; font-size: 10px;">Created At: 
                        <span style="font-size: 12px; color: blue">{{actv.created_at | amTimeAgo }} </span>
                      </div>
                    </div>
                  </div>

                  <div class="labelspec" style="color: black; font-size: 10px;"> Stage: <span style="font-size: 12px; color: teal">
                   {{returnopportunitystate(actv.opportunity_stage)}} </span>
                  </div>

                <!-- <div class="ui tag labels" style="font-size: 12px; margin-top: 2px;margin-bottom: 2px; " > 
                  <a class="ui grey label" style="color: black; font-size: 12px; font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;">{{getactivitytypetext(actv.activity_type)}}</a>
                  <a class="ui teal label" align="center">
                  <app-assignedtonameget name="{{actv.activity_created_by}}"> </app-assignedtonameget>
                  </a>
                  <a class="ui teal label" style="color: black; font-size: 12px; font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;">Created At: {{actv.created_at | amTimeAgo }} </a>
                </div> 

                <p style="font-size: 10px;"> <span style="font-weight: bold;"> Stage: </span>{{returnopportunitystate(actv.opportunity_stage)}}</p> -->

                <app-reversegeocoder lat="{{actv.latitude}}" long="{{actv.longitude}}"></app-reversegeocoder> 
            
                <div *ngIf="actv.activity_type == 'phonecall'">
                  <p style="font-size: 12px;"> <span style="font-weight: bold;"> Call Date : </span>{{actv.phonecallDate | date: 'longDate'}}</p>
                </div>
                <div *ngIf="actv.activity_type == 'onsitevisit'">
                  <p style="font-size: 12px;"> <span style="font-weight: bold;"> Visit Date : </span>{{actv.visitDate | date: 'longDate' }}</p>
                </div>
                <div *ngIf="actv.activity_type == 'presentation'">
                  <p style="font-size: 12px;"> <span style="font-weight: bold;"> Presentation Date : </span>{{actv.presentationDate | date: 'longDate' }}</p>
                </div>
                <div *ngIf="actv.activity_type == 'solutiondocumenting'">
                  <p style="font-size: 12px;"> <span style="font-weight: bold;"> Documenting Date : </span>{{actv.solutiondocumentingDate | date: 'longDate' }}</p>
                </div>

                <div *ngIf="actv.activity_type == 'poc'">
                  <p style="font-size: 12px;"> <span style="font-weight: bold;"> POC Start Date : </span>{{actv.pocstartDate | date: 'longDate' }}</p>
                </div>
                <div *ngIf="actv.activity_type == 'poc'">
                  <p style="font-size: 12px;"> <span style="font-weight: bold;"> POC End Date : </span>{{actv.pocendDate | date: 'longDate' }}</p>
                </div>
                <div *ngIf="actv.activity_type == 'poc'">
                  <p style="font-size: 12px;"> <span style="font-weight: bold;"> POC Sign Off : </span>{{actv.poc_signoff }}</p>
                </div>

                <div *ngIf="actv.activity_type == 'demo'">
                  <p style="font-size: 12px;"> <span style="font-weight: bold;"> POC Start Date : </span>{{actv.demostartDate | date: 'longDate' }}</p>
                </div>
                <div *ngIf="actv.activity_type == 'demo'">
                  <p style="font-size: 12px;"> <span style="font-weight: bold;"> POC End Date : </span>{{actv.demoendDate| date: 'longDate' }}</p>
                </div>
                <div *ngIf="actv.activity_type == 'demo'">
                  <p style="font-size: 12px;"> <span style="font-weight: bold;"> POC Sign Off : </span>{{actv.demo_signoff }}</p>
                </div>

                <div *ngIf="actv.activity_type == 'onsitevisit'">
                  <span style="font-size: 12px;font-weight: bold;"> Visit Remarks : </span>
                  <p>{{actv.visitremarks}}</p>
                </div>
                <div *ngIf="actv.activity_type == 'phonecall'">
                  <span style="font-size: 12px;font-weight: bold;"> Call Remarks :</span>
                  <p>{{actv.phonecallremarks}}</p>
                </div>

                <div *ngIf="actv.activity_type == 'presentation'">
                  <span style="font-size: 12px;font-weight: bold;"> Presentation Remarks :</span>
                  <p>{{actv.presentationremarks}}</p>
                </div>

                <div *ngIf="actv.activity_type == 'solutiondocumenting'">
                  <span style="font-size: 12px;font-weight: bold;"> Solution Documenting Remarks :</span>
                  <p>{{actv.solutiondocumentingremarks}}</p>
                </div>
                <div *ngIf="actv.activity_type == 'poc'">
                  <span style="font-size: 12px;font-weight: bold;"> POC Remarks :</span>
                  <p>{{actv.pocremarks}}</p>
                </div>
                <div *ngIf="actv.activity_type == 'demo'">
                  <span style="font-size: 12px;font-weight: bold;"> Demo Remarks :</span>
                  <p>{{actv.demoremarks}}</p>
                </div>
              </div>
              <br>
             
              <div class="title"  style="color: purple; font-size: 13px; font-weight: bold"> LEAD ACTIVITIES </div>
              <div *ngFor="let activity of poc.lead_activities| contactpersons ">
                <div class="ui divided selection list">
                  <div class="item">
                    <div class="labelspec" style="color: black; font-size: 10px;"> Activity Type: <span style="font-size: 12px; color: blue">
                     {{getactivitytypetext(activity.activity_type)}} </span>
                    </div>
                  </div>
                  <div class ="item">
                    <div class="labelspec" style="color: black; font-size: 10px;"> Created At: <span style="font-size: 12px; color: blue">
                     {{activity.created_at  | date: 'medium'}} </span>
                    </div>
                  </div>
                </div>
                <!-- <div class="ui tag labels" style="font-size: 12px; margin-top: 2px;margin-bottom: 2px; " > 
                  <a class="ui grey label" style="color: black; font-size: 12px; font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;">{{getactivitytypetext(activity.activity_type)}}</a>
                </div>
                
                <p style="font-size: 10px;"> <span style="font-weight: bold;"> Created At: </span>{{activity.created_at  | date: 'medium'}}</p>
 -->
                <app-reversegeocoder lat="{{activity.latitude}}" long="{{activity.longitude}}"></app-reversegeocoder> 
                  
                  <div *ngIf="activity.activity_type == 'phonecall'">
                    <p style="font-size: 12px;"> <span style="font-weight: bold;"> Call Date : </span>{{activity.phonecallDate | date: 'longDate'}}</p>
                  </div>
                  <div *ngIf="activity.activity_type == 'onsitevisit'">
                    <p style="font-size: 12px;"> <span style="font-weight: bold;"> Visit Date : </span>{{activity.visitDate | date: 'longDate' }}</p>
                  </div>
                  <div *ngIf="activity.activity_type == 'onsitevisit'">
                    <span style="font-size: 12px;font-weight: bold;"> Visit Remarks : </span>
                    <p>{{activity.visitremarks}}</p>
                  </div>
                  <div *ngIf="activity.activity_type == 'phonecall'">
                    <span style="font-size: 12px;font-weight: bold;"> Call Remarks :</span>
                    <p>{{activity.phonecallremarks}}</p>
                  </div>
              </div>   

              <div class="title"  style="color: purple; font-size: 13px; font-weight: bold"> UPCOMING </div>
  
              <div class="item" *ngFor = "let upactv of poc.upcoming | contactpersons">
                <div class="ui divided selection list">
                  <div class="item">
                    <div class="labelspec" style="color: black; font-size: 10px;"> Upcoming Activity Type: <span style="font-size: 12px; color: blue">
                     {{getupcomingtext(upactv.next_meeting_type)}} </span>
                    </div>
                  </div>
                  <div class="item">
                    <div class="labelspec" style="color: black; font-size: 10px;"> Created At: <span style="font-size: 12px; color: blue">
                     {{upactv.created_at  | date: 'medium'}} </span>
                    </div>
                  </div>
                  <div class = "item">
                    <div class="labelspec" style="color: black; font-size: 10px;"> Upcoming Meeting Date: <span style="font-size: 12px; color: blue">
                     {{upactv.next_meeting_date | date: 'longDate' }} </span>
                    </div>
                  </div>
                <!-- <div class="ui tag labels" style="font-size: 12px; margin-top: 2px;margin-bottom: 2px; " > 
                  <a class="ui grey label" style="color: black; font-size: 12px; font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;">{{getupcomingtext(upactv.next_meeting_type)}}</a>
                  {{upactv.created_at  | date: 'medium'}} , 
                  {{upactv.next_meeting_date | date: 'longDate' }}
                </div> -->  
              </div>  
              </div> 

              <div class="title"  style="color: purple; font-size: 13px; font-weight: bold"> REMARKS </div>
    
              {{poc.lead_meeting_remark}}
             
          </div>
        </div>
      </div>
     
<br>
      <!--Pagination-->
             
      <div class="ui item" style="color: white; background-color: #eee; float:right; border-radius: 3px; position: relative; z-index: 1; height: 45px;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <br>
      <br>

      
    </div>
  </div>
</div>
