<div align="center">
  <div *ngIf="ev">
	<!--Modal for adding a new User-->
	<lsu-modal [(ngModel)]="addUserModal_flag" [options]="modalOptions" align="center">
  
  		<div class="header">Create New User</div>
  
  		<div class="description">
    	<br>
    	<!--User Name-->
    		<form class="ui mini form">
      			<div class="field" style="padding: 20px;">
        			<label style="font-weight: bold; font-size: 15px;">User Name</label>
        			<br>
        			<input type="text"  name="name" placeholder="name" [(ngModel)]="name" required> 
      			</div>
    		</form>
    	<!--Email-->
        <form class="ui mini form">
          <div class ="ui stackable two column grid">
        		<div class="field" class="column" style="padding: 30px;">
          		<label style="font-weight: bold; font-size: 15px;">&nbsp; Email ID</label>
          		<br>
              <br>
          		<input type="text"  name="email" placeholder="email" [(ngModel)]="email" required> 
        		</div>

            <div class="field" class="column" style="padding: 30px;">
              <label style="font-weight: bold; font-size: 15px;">Password</label>
              <br>
              <br>
              <input type="password"  name="default_pwd" placeholder="default password" [(ngModel)]="default_pwd" required> 
            </div>

            </div>
    		</form>

      <!--Role & Title-->
        <form class="ui mini form">
          <div class ="ui stackable two column grid">
            <!--div class="field" class="column" style="padding: 30px;">
              <label style="font-weight: bold; font-size: 15px;">&nbsp; Role</label>
              <br>
              <br>
              <input type="text"  name="role" placeholder="role" [(ngModel)]="role" required> 
            </div-->

            <div class="form-group column" style="padding: 30px;">
              <label style="font-weight: bold; font-size: 15px;" for="exampleFormControlSelect18">Role</label>
              <br>
              <br>
              <select class="form-control" id="exampleFormControlSelect18" name="role" [(ngModel)]="role">
                <option>presales</option>
                <option>sales engineer</option>
                <option>Tech Support</option>
                <option>Inside Sales</option>
                <option>master</option>
                <option>Sales Manager</option>
                <option>Marketing</option>
                <option>presaleshead</option>
                <option>admin</option>
              </select>
            </div>

            <div class="field" class="column" style="padding: 30px;">
              <label style="font-weight: bold; font-size: 15px;">Title</label>
              <br>
              <br>
              <input type="text"  name="title" placeholder="title" [(ngModel)]="title" required> 
            </div>
          </div>
        </form>

      <!--Report & Reports To-->
        <form class="ui mini form">
          <div class ="ui stackable two column grid">

            <div class="form-group column" style="padding: 30px;">
              <label style="font-weight: bold; font-size: 15px;" for="exampleFormControlSelect12">Report</label>
              <br>
              <br>
              <select class="form-control" id="exampleFormControlSelect12" name="report" [(ngModel)]="report" (change)="onSelect($event.target.value)">
                <option>reporter</option>
                <option>recipient</option>
                <option>other</option>
              </select>
            </div>

            <div class="form-group column" style="padding: 30px;" [hidden]="selectShowFlag">
              <label style="font-weight: bold; font-size: 15px;" for="exampleFormControlSelect13">Reports To</label>
              <br>
              <br>
              
              <select class="form-control" id="exampleFormControlSelect13" name="reports_to" [(ngModel)]="reports_to">

                  <option>Select</option>
                  <option *ngFor="let v of user_recipient_list" value= {{v.userid}}>{{ v.name }}</option>
            
              </select>
            </div>
          </div>  
        </form>

  		</div>

  		<div class="actions">
    		<button class="ui black deny button" (click)="cancelUserModal()">Cancel</button>
    		<button class="ui positive right labeled icon button" [disabled]="name == '' || email== '' || default_pwd == ''" (click)="on_add_user()">Add
      			<i class="checkmark icon"></i>
    		</button>
  		</div>
	</lsu-modal>

	<div id="" style="overflow-y: scroll;height: 100%;width:95%;">
  	<br>
  <!--Search button with expandable holder-->
  <div appMzterialDesignLite style="float:right; color: white;height:50px">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
      <label class="mdl-button mdl-js-button mdl-button--icon" for="site-search">
        <i class="material-icons" style="top: 10px">search</i>
      </label>
      <div class="mdl-textfield__expandable-holder">
        <input class="mdl-textfield__input" type="search" id="site-search" name="site-search" placeholder ="User Name" [(ngModel)] ="querystring" />
        <label class="mdl-textfield__label" for="site-search">Search</label>
      </div>
    </div>
  </div>

  <!--Add User Button on top right corner-->
  <div style="float:right;padding: 5px;font-family: 'Marvel', sans-serif;">
      <button class="ui inverted button" (click)="addUserModal()">Add User</button>
  </div>
  <br>
  <br>
  <br>
		<!--List Users in a table with fields name and its related fields. Actions are (Edit/ Delete)-->
		<table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp" style="width: 95%;background-color: white;height:50vh">
		  	<thead >
		  		<tr>
		    		<th>Name</th>
		    		<th>Email</th>
            <th>Role</th>
            <th>Title</th>
            <th>Report</th>
            <th>Reports To</th>
		    		<th>Actions</th>
		  		</tr>
		  	</thead>

		  	<tbody>
		  		<tr *ngFor="let user of users | filterrecords: querystring : 'users' | sortorder | paginate: { itemsPerPage: 7, currentPage: p }">
		    		<td class="mdl-data-table__cell--non-numeric">{{user.name}}</td>
		    		<td class="mdl-data-table__cell--non-numeric">{{user.email}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{user.role}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{user.title}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{user.report}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{onListReportsTo(user.reports_to, user.report, user.role)}}</td>
		    		<td>
		    			<a (click)="editUserModal(user.userid)">
		    				<i class="material-icons">edit</i>
		    			</a>
		    			
		    			<!--a (click)="on_delete_user(user.userid)">
		    				<i class="material-icons">delete</i>
		    			</a-->
		    		</td>
		  		</tr>
		  	</tbody>
		</table>

  <br>


  <!--Pagination-->
  <div class="ui item" style="color: white; background-color: #eee; float:right; border-radius: 5px;">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
	</div>

	<!--Modal for Editing an User -->
	<lsu-modal [(ngModel)]="editUserModal_flag" [options]="modalOptions">
  
  		<div class="header">Edit User Details</div>
  
  		<div class="description">
    	<br>
    	<!--User Name-->
    		<form class="ui mini form">
      			<div class="field" style="padding: 20px;">
        			<label style="font-weight: bold; font-size: 15px;">Name</label>
        			<br>
        			<input type="text"  name="uname" placeholder="name" [(ngModel)]="uname" required> 
      			</div>
   			</form>
    	<!--Email-->
    		<form class="ui mini form">
      			<div class="field" style="padding: 20px;">
        			<label style="font-weight: bold; font-size: 15px;">Email</label>
        			<br>
        			<input type="text"  name="uemail" placeholder="email" [(ngModel)]="uemail" required> 
      			</div>
   			</form>
      <!--Role & Title-->
        <form class="ui mini form">
          <div class ="ui stackable two column grid">
            <div class="field" class="column" style="padding: 30px;">
              <label style="font-weight: bold; font-size: 15px;">&nbsp; Role</label>
              <br>
              <br>
              <input type="text"  name="urole" placeholder="role" [(ngModel)]="urole" required> 
            </div>

            <div class="field" class="column" style="padding: 30px;">
              <label style="font-weight: bold; font-size: 15px;">Title</label>
              <br>
              <br>
              <input type="text"  name="utitle" placeholder="title" [(ngModel)]="utitle" required> 
            </div>
          </div>
        </form>

      <!--Report & Reports To-->
        <form class="ui mini form">
          <div class ="ui stackable two column grid">

            <div class="form-group column" style="padding: 30px;">
              <label style="font-weight: bold; font-size: 15px;" for="exampleFormControlSelect14">Report</label>
              <br>
              <br>
              <select class="form-control" id="exampleFormControlSelect14" name="ureport" [(ngModel)]="ureport" (change)="onSelectEdit($event.target.value)">
                <option>reporter</option>
                <option>recipient</option>
                <option>other</option>
              </select>
            </div>

            <div class="form-group column" style="padding: 30px;" [hidden]="selectShowFlag">
              <label style="font-weight: bold; font-size: 15px;" for="exampleFormControlSelect15">Reports To</label>
              <br>
              <br>
              
              <select class="form-control" id="exampleFormControlSelect15" name="ureports_to" [(ngModel)]="ureports_to">
                  <option *ngFor="let p of user_recipient_list" [ngValue]= "p.userid">{{ p.name }}</option>
            
              </select>
            </div>
          </div>  
        </form>


  		</div>

  		<div class="actions">
    		<button class="ui black deny button" (click)="cancelUserModal()">Cancel</button>
    		<button class="ui positive right labeled icon button" [disabled]="uname == '' || uemail== ''" (click)="on_edit_user()">Save changes
      			<i class="checkmark icon"></i>
    		</button>
  		</div>
	</lsu-modal>
	        
  </div>
</div>






