<div class ="main">
  <div id="" style="overflow-y: scroll;height: 100%; width:100%;">
    <div *ngIf="ev">

      <!--Regions, Lead Source, Total Count and Total Value-->
      <div class = "ui stackable six column grid" style="height:70px;">
        <div class = "column">
          <form class="ui mini form">
            <div class="form-group column" style="padding: 5px;">
              <label style="font-weight: bold; font-size: 15px; color: white" for="exampleFormControlSelect11">Region: </label>
              <select class="form-control" id="exampleFormControlSelect11" name="region" [(ngModel)]="region" (change)="onRegionChange($event.target.value)" style="height: 29px;font-size: 1.2em; padding-top: 4px; padding-bottom: 4px;">
                <option [value]="'All'">All</option>
                <option [value]="'chennai'">Chennai</option>
                <option [value]="'hyderabad'">Hyderabad</option>
                <option [value]="'mumbai'">Mumbai</option>
                <option [value]="'coimbatore'">Coimbatore</option>
                <option [value]="'bangalore'">Bangalore</option>
              </select>
            </div>
          </form>
        </div>

        <div class="column">
          <form class="ui mini form">
            <div class="form-group column" style="padding: 5px;">
              <label style="font-weight: bold; font-size: 15px;color: white" for="exampleFormControlSelect1">Lead Assigned to:</label>
              <select class="form-control" id="exampleFormControlSelect1" name="lead_assigned_to" [(ngModel)]="lead_assigned_to" (change)="onLeadAssignedChange($event.target.value)" style="height: 29px;font-size: 1.2em; padding-top: 4px; padding-bottom: 4px;">
                <option [value]="'All'">All</option>
                <option *ngFor="let fD of filteredData" [value]="fD"> 
                 <app-assignedtonameget [name]="fD"></app-assignedtonameget>
                </option>
              </select>
            </div>
          </form>
        </div>

        <div class="column">
          <form class="ui mini form">
            <div class="form-group column" style="padding: 5px;">
              <label style="font-weight: bold; font-size: 15px;color: white" for="exampleFormControlSelect12">Lead Source:</label>
              <select class="form-control" id="exampleFormControlSelect12" name="lead_source" [(ngModel)]="lead_source" (change)="onLeadSourceChange($event.target.value)" style="height: 29px;font-size: 1.2em; padding-top: 4px; padding-bottom: 4px;">
                <option [value]="'All'">All</option>
                <option *ngFor="let fsD of filteredSourceData" [value]="fsD">{{leadsourcelabel(fsD)}} </option>
              </select>
            </div>
          </form>
        </div>

        <div class ="column">
          <form class="ui mini form">
            <div class="field" style="padding: 5px;">
              <label style="font-weight: bold; font-size: 15px;color: white; margin-bottom: 1px;">Total Count: </label>
              <input type="text"  name="totalCount" placeholder="totalCount" [(ngModel)]="totalCount" style="padding-top:5px; padding-bottom: 5px" readonly>
            </div>  
          </form>
        </div>

        <div class="column">
          <form class="ui mini form">
            <div class="field" style="padding: 5px;">
              <label style="font-weight: bold; font-size: 15px;color: white; margin-bottom: 1px;" >Total Value: </label>
              <input type="text"  name="totalValue" placeholder="totalValue" [(ngModel)]="totalValue" style="padding-top:5px; padding-bottom: 5px" readonly>
            </div>
          </form>
        </div>

      <!--Search button with expandable holder-->
      <div class="column">
      <div appMzterialDesignLite style="float:right; color: white;">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="site-search">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="search" id="site-search" name="site-search" placeholder="Company Name" [(ngModel)] ="querystring" />
            <label class="mdl-textfield__label" for="site-search">Search</label>
          </div>
        </div>
      </div>
    </div>

      </div>
    

      <!-- Wide card with Edit and Delete button -->
      <div class="ui stackable three column grid" style="height:70vh">
        <div class="wide-card mdl-card mdl-shadow--2dp item-wr mdl-card--expand" 
        *ngFor="let lead of leads_list | filterrecords: querystring : 'leads' | sortorder | paginate: { itemsPerPage: 4, currentPage: p }">

          <!--Lead Title-->
          <div class="mdl-card__title">
            <a style="padding-left: 0px;font-family: 'Marvel', sans-serif; text-transform: capitalize;color: #673AB7 ;font-size:1.8vw;font-weight: bold;" [routerLink]="['/dashboard/LeadDetail', lead.$key]"
               >
              {{lead.lead_title}}  
            </a>
          </div>

          <!--Company Name & Created Date -->
          <div class="ui stackable two column grid">
            <div class= "column">
              <p style="font-size: 12px;"> 
                {{lead.company_name}}
                <br>
                {{lead.created_at| date: 'medium' }}
              </p>
            </div>

            <div class ="column">
              <div class="ui mini grey statistic">
                <div class="value" style="text-transform: uppercase;">
                  {{getleadapprovalstatus(lead.leadstatus)}}
                </div>

                <div class="label" style="color: black; font-size: 10px;text-align: center;">
                  Status
                </div>
              </div>
            </div>
          </div>
          
          <div class="ui divider"></div>
          
          <!-- Lead Source, Products value, Activities and Contacts-->
          <div class="ui stackable four column grid">
            <div class="column">
              
              <span style="color: black; font-size: 9px;text-align: center;">LEAD SOURCE</span>
              <br>
              <a class="ui black label" align="center">
                {{leadsourcelabel(lead.leadsource)}}
              </a>
              
              <p *ngIf="lead.leadsource == 'oem'" style="font-size: 0.8rem; padding: 2px">
                {{lead.oem_name}}
              </p>
              <p *ngIf="lead.leadsource == 'distributor'" style="font-size: 0.8rem; padding: 2px">
                {{lead.distributor_name}}
              </p>
              <p *ngIf="lead.leadsource == 'event'" style="font-size: 0.8rem; padding: 2px">
                {{lead.event_name}}
              </p>
            </div>
            
            <div class="column" >
              <div class="ui tiny blue statistic">
                <br>
                <app-getproductssum class="value" style="font-size: 5px; font-weight: bold;" [products]="lead.products_list" ></app-getproductssum>
                <div class="label" style="color: black; font-size: 10px;text-align: center;">VALUE</div>
              </div>
            </div>

            <div class="column" >
              <div class="ui tiny black statistic">
                <br>
                <div class="value" style="font-size: 5px; font-weight: bold;">
                  {{getnooffollowups(lead.activities)}}
                </div>
                
                <div class="label" style="color: black; font-size: 10px;text-align: center;">ACTIVITIES</div>
              </div>
            </div>
            
            <div class="column">
              <div class="ui tiny black statistic">
                <br>
                <app-getcompanycontacts class="value" style="font-size: 5px; font-weight: bold;" [companyid]="lead.company_id"></app-getcompanycontacts>
                <div class="label" style="color: black; font-size: 10px;text-align: center;">CONTACTS</div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <br>
      <br>

      <!--Pagination-->      
      <div class="ui item" style="color: white; background-color: #eee; float:right; border-radius: 3px; position: relative; z-index: 1;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <br>
      <br>

    </div>
  </div>
</div>
