.main{
  padding:5px 30px 10px 30px;
  
}

.wide-card.mdl-card {
  width: 285px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 75px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.item-wr
{
  margin: 15px;
}

.fixedbutton {
 position:absolute;
   top:5px;
   right:5px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.mdl-card__title
{
font-family: 'Marvel', sans-serif; text-transform: capitalize;
}

.ui.tiny.statistic>.value, .ui.tiny.statistics .statistic>.value {
    font-size: 1rem!important;
}

.ui.mini.statistic>.value, .ui.mini.statistics .statistic>.value {
    font-size: 1rem!important;
}

.ui.black.label>.value {
  font-size: 1rem!important;
}


