<!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
  mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
      mdl-textfield--floating-label mdl-textfield--align-right">
      <label class="mdl-button mdl-js-button mdl-button--icon"
      for="fixed-header-drawer-exp">
      <i class="material-icons">search</i>
    </label>
    <div class="mdl-textfield__expandable-holder">
      <input class="mdl-textfield__input" type="text" name="sample"
      id="fixed-header-drawer-exp">
    </div>
  </div>
</div>
</header>
<div class="mdl-layout__drawer" style="padding-left: 0px;">
  <span class="mdl-layout-title" align="center">
    <img src="http://www.svcafe.co.uk/acatalog/Lavazza-Box-Logo-300.jpg" style="width: 90px;padding-top: 7px;">
  </span>
  <nav class="mdl-navigation" style="">

<li class="devsite-nav-item devsite-nav-item-section-expandable devsite-nav-accordion">
  <span class="devsite-nav-title devsite-nav-title-no-path" track-type="leftNav" track-name="expandNavSectionNoLink" track-metadata-position="0" tabindex="0">
    <span>Companies</span>
  </span>
  <a class="devsite-nav-toggle devsite-nav-toggle-expanded material-icons" track-type="leftNav" track-name="expandNavSectionArrow" track-metadata-position="0"></a>
  <ul class="devsite-nav-section devsite-nav-section-expanded">
    <li class="devsite-nav-item devsite-nav-active">
      <a routerLink="/dashboard/AddCompanies" class="devsite-nav-title gc-analytics-event" track-type="leftNav" track-name="titleLink" track-metadata-position="1" data-category="Site-Wide Custom Events" data-label="Left nav" data-action="click">
        <span>Add Companies</span>
      </a>
    </li>
    <li class="devsite-nav-item devsite-nav-active">
      <a routerLink="/dashboard/AddCompanies" class="devsite-nav-title gc-analytics-event" track-type="leftNav" track-name="titleLink" track-metadata-position="1" data-category="Site-Wide Custom Events" data-label="Left nav" data-action="click">
        <span>List Companies</span>
      </a>
    </li>
    <li class="devsite-nav-item devsite-nav-active">
      <a routerLink="/dashboard/AddCompanies" class="devsite-nav-title gc-analytics-event" track-type="leftNav" track-name="titleLink" track-metadata-position="1" data-category="Site-Wide Custom Events" data-label="Left nav" data-action="click">
        <span>View Companies</span>
      </a>
    </li>
  </ul>
</li>


    <a class="mdl-navigation__link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a class="mdl-navigation__link" href="">Lead</a>
    <a class="mdl-navigation__link" href="">Opportunities</a>
    <a class="mdl-navigation__link" href="">LogOut</a>
  </nav>


</div>
<main class="mdl-layout__content">
  <div class="page-content" ><!-- Your content goes here -->
    <router-outlet></router-outlet>
  </div>
</main>
</div>