<div class ="main">
  <div id="" style="overflow-y: scroll;height: 100%; width:100%;">
    <div *ngIf="ev">
    
    <!--Search button with expandable holder-->
    <div appMzterialDesignLite style="float:right; color: white; height:50px">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="site-search">
          <i class="material-icons" style="top: 10px;">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="search" id="site-search" name="site-search" placeholder="Company Name" [(ngModel)] ="querystring" />
          <label class="mdl-textfield__label" for="site-search">Search</label>
        </div>
      </div>
    </div>

    <!--Add Account on top right corner-->
    <div style="float:right;padding: 5px;font-family: 'Marvel', sans-serif;">
      <button class="ui inverted stackable button" (click)="on_add_account()">Add Account</button>
    </div>

    <div style="float:right;padding: 5px;font-family: 'Marvel', sans-serif;">
      <button class="ui inverted button" (click)="download()">Export CSV</button>
    </div>

    <br> 
    <br>
    <br>
    <br>

    <!-- Wide card with Edit and Delete button -->
    
    <div class="ui stackable two column grid" style="height:70vh">
      <div class="wide-card mdl-card mdl-shadow--2dp item-wr mdl-card--expand"
      *ngFor="let acct of accounts | filterrecords: querystring : 'accounts' | sortorder | paginate: { itemsPerPage: 4, currentPage: p }">

        <!--Company Name-->
        <div class="mdl-card__title">
          <a style="padding-left: 0px;font-family: 'Marvel', sans-serif; text-transform: capitalize;color: #673AB7 ;font-size:1.8vw;font-weight: bold;" [routerLink]="['/dashboard/Leadoppo', acct.companyid]"
             >
            {{acct.companyname}}
          </a>
        </div>

        <!--Company Address-->
        <p style="font-size: 12px;">  
            {{getAddressline1(acct.company_address_line1)}}
          <br>
          {{getAddress(acct.company_address_line2, acct.company_address_area, acct.company_address_state, acct.company_address_pincode)}}
            <!-- {{acct.company_address_line2}},
            {{acct.company_address_area}},   
            {{acct.company_address_state}},
            {{acct.company_address_pincode}}   -->
        </p>

        <!--Company type, Industry type, Employee Count, Contact Person Count -->
        <div class = "ui stackable four column grid">

          <div class = "column">
            <a class="ui blue label">{{getStringValue(acct.companytype)}}</a><br>
            <span class="labelspec" style="color: black; font-size: 10px;font-weight: bold">COMPANY TYPE</span>
          </div>

          <div class = "column">
            <a class="ui black label">{{getStringValue(acct.industrytype) }} </a><br>
            <span class="labelspec" style="color: black; font-size: 10px;">INDUSTRY TYPE</span>
          </div>

          <div class = "column">
            <div class="ui mini blue statistic">
              <div class="value" style=" font-weight: bold;">
                {{getStringValue(acct.employee_count)}}
              </div>
              <div class="labelspec" style="color: black; font-size: 10px;">EMPLOYEES</div>
            </div>
          </div>

          <div class = "column">
            <div class="ui mini blue statistic">
              <div class="value" style="font-weight: bold;">
                {{countContactPerson(acct.contact_persons)}}
              </div>
              <div class="labelspec" style="color: black; font-size: 10px;">CONTACTS</div>
            </div>
          </div>
        </div>
       
        <div  class="mdl-card__menu">
          <button class = "ui circular info icon button" (click)="on_edit_account(acct.companyid)">
          <!--button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"-->
            <i class="material-icons" style="font-size: 12pt;">edit</i>
          </button>
         
          <button class="ui circular google plus icon button" (click)="on_delete_account(acct.companyid)">
            <i class="material-icons"  style="font-size: 12pt;">delete</i>
          </button>
        </div>

      </div>
    </div>


    <!--Pagination-->
    <br>
         
    <div class="ui item" style="color: white; background-color: #eee; float:right; border-radius: 3px; position: relative; z-index: 1;">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

   </div>

  </div>
</div>


