<div class="main">


			<div class="ui top attached tabular menu" style="background-color: #CFD8DC; " >
				<a class="item active" data-tab="zero" >Home</a>
				<a class="item " data-tab="first">Funnel</a>
				<a class="item" data-tab="second">Revenue By Year</a>
				<a class="item" data-tab="third">Revenue By FY</a>
				<a class="item" data-tab="fourth">Sunburst FY</a>
				<a class="item" data-tab="fifth">Sunburst Year</a>
			<!-- 	<a class="item" data-tab="sixth">Forecast</a> -->
			</div>

			<div class="ui bottom attached tab segment active" data-tab="zero" style="background-color: #424242;" >
				<div class = "container" align="center">
					<app-targetdashytd [category]="catgeory"></app-targetdashytd>
				</div>
			</div>
			<div class="ui bottom attached tab segment" data-tab="first" style="background-color: #424242;" >
				<div class = "container">
					<app-funnelcharts></app-funnelcharts>
					<br>

					<app-funnelteamcharts></app-funnelteamcharts>
					<br>

					<app-funnelallcharts></app-funnelallcharts>
					<br>
					<app-funnelallregioncharts></app-funnelallregioncharts>
				</div>
			</div>
			<div class="ui bottom attached tab segment " data-tab="second" style="background-color: #424242;" >

				<div class="eight wide column">
					<app-revenuecharts [yflag]="yflag" [category]="catgeory"></app-revenuecharts>
				</div>
				<div class="eight wide column">
					<app-revenuecharts-product [yflag]="yflag" [category]="catgeory"></app-revenuecharts-product>
				</div>

				<div class="eight wide column">
					<app-revenuecharts-customer [yflag]="yflag" [category]="catgeory"></app-revenuecharts-customer>
				</div>

				<div class="eight wide column">
					<app-revenue-prod [yflag]="yflag" [category]="catgeory"></app-revenue-prod>
				</div>

				<div class="eight wide column">
					<app-revenue-region [yflag]="yflag" [category]="catgeory"></app-revenue-region>
				</div>

				<div class="eight wide column">
					<app-revenue-assignedto [yflag]="yflag" [category]="catgeory"></app-revenue-assignedto>
				</div>

				<div class="eight wide column">
					<app-revenue-leadsource [yflag]="yflag" [category]="catgeory"></app-revenue-leadsource>
				</div>

				<div class="eight wide column">
					<app-revenue-exstcust [yflag]="yflag" [category]="catgeory"></app-revenue-exstcust>
				</div>

				<div class="eight wide column">
					<app-barcharts-region [yflag]="yflag" [category]="catgeory"></app-barcharts-region>
				</div>

				<div class="eight wide column">
					<app-barchartscust-region [yflag]="yflag" [category]="catgeory"></app-barchartscust-region>
				</div>

				<div class="eight wide column">
					<app-stacked-region [yflag]="yflag" [category]="catgeory"></app-stacked-region>
				</div>

				<div class="eight wide column">
					<app-stacked-leadsource [yflag]="yflag" [category]="catgeory"> </app-stacked-leadsource>
				</div>

				<div class="eight wide column">
					<app-stacked-exstcust [yflag]="yflag" [category]="catgeory"></app-stacked-exstcust>
				</div>

			</div>

			<div class="ui bottom attached tab segment" data-tab="third" style="background-color: #424242 " >
				<div class="eight wide column">

					<app-revenuecharts [yflag]="rflag" [category]="catgeory"></app-revenuecharts>

				</div>
				<div class="eight wide column">
					<app-revenuecharts-product [yflag]="rflag" [category]="catgeory"></app-revenuecharts-product>
				</div>

				<div class="eight wide column">
					<app-revenuecharts-customer [yflag]="rflag" [category]="catgeory"></app-revenuecharts-customer>
				</div>

				<div class="eight wide column">
					<app-revenue-prod [yflag]="rflag" [category]="catgeory"></app-revenue-prod>
				</div>

				<div class="eight wide column">
					<app-revenue-region [yflag]="rflag" [category]="catgeory"></app-revenue-region>
				</div>

				<div class="eight wide column">
					<app-revenue-assignedto [yflag]="rflag" [category]="catgeory"></app-revenue-assignedto>
				</div>

				<div class="eight wide column">
					<app-revenue-leadsource [yflag]="rflag" [category]="catgeory"></app-revenue-leadsource>
				</div>

				<div class="eight wide column">
					<app-revenue-exstcust [yflag]="rflag" [category]="catgeory"></app-revenue-exstcust>
				</div>

				<div class="eight wide column">
					<app-barcharts-region [yflag]="rflag" [category]="catgeory"></app-barcharts-region>
				</div>

				<div class="eight wide column">
					<app-barchartscust-region [yflag]="rflag" [category]="catgeory"></app-barchartscust-region>
				</div>

				<div class="eight wide column">
					<app-stacked-region [yflag]="rflag" [category]="catgeory"></app-stacked-region>
				</div>

				<div class="eight wide column">
					<app-stacked-leadsource [yflag]="rflag" [category]="catgeory"> </app-stacked-leadsource>
				</div>

				<div class="eight wide column">
					<app-stacked-exstcust [yflag]="rflag" [category]="catgeory"></app-stacked-exstcust>
				</div>

			</div>

			<div class="ui bottom attached tab segment" data-tab="fourth" style="background-color: #424242 ">
				<div class="eight wide column">

					<app-sunburst-emp [category]="catgeory"></app-sunburst-emp>

				</div>
			</div>

			<div class="ui bottom attached tab segment" data-tab="fifth" style="background-color: #424242 " >
				<div class="eight wide column">

					<app-sunburst-emp-y [category]="catgeory"></app-sunburst-emp-y>

				</div>
			</div>

<!-- 			<div class="ui bottom attached tab segment" data-tab="sixth" style="background-color: #424242 " >
				<div class="eight wide column">

					<app-bar-forecastregion [category]="catgeory"></app-bar-forecastregion>
					<app-bar-forecastexec [category]="catgeory"></app-bar-forecastexec>
					<app-bar-forecastbrand [category]="catgeory"></app-bar-forecastbrand>

				</div>
			</div> -->



</div>
